flows/alarm-nfc-tags.json
[
 {
  "id": "657e6b8b07b4cdf7",
  "type": "tab",
  "label": "Alarm NFC Tags",
  "disabled": false,
  "info": "Front-door NFC -> disarm house + TTS. Back-door NFC -> disarm shed for 2h then auto re-arm + TTS (each). Built 19-06-2026."
 },
 {
  "id": "nfc-ev",
  "type": "server-events",
  "z": "657e6b8b07b4cdf7",
  "name": "NFC tag scanned",
  "server": "ha-server",
  "version": 3,
  "exposeAsEntityConfig": "",
  "eventType": "tag_scanned",
  "waitForRunning": true,
  "outputProperties": [
   {
    "property": "payload",
    "propertyType": "msg",
    "value": "",
    "valueType": "eventData"
   }
  ],
  "event_type": "tag_scanned",
  "x": 200,
  "y": 120,
  "wires": [
   [
    "nfc-fn"
   ]
  ]
 },
 {
  "id": "nfc-fn",
  "type": "function",
  "z": "657e6b8b07b4cdf7",
  "name": "nfc engine",
  "func": "// NFC + shed override. server-events now emits the FULL event envelope -> data under .event.\nconst HOUSE_TAG='f195ee10-14a9-4b65-bd10-c53c9866bcdf';\nconst SHED_TAG='b9ac1256-89ad-4514-b7d4-3e65ebd1c948';\nconst HARD=2*60*60*1000;   // 2 hour hard cap\nconst CLOSED=15*60*1000;   // door closed 15 min\nconst DOOR='binary_sensor.shed_door_contact';   // on=open, off=closed\nconst PEOPLE=global.get('people')||[{notify:'notify.mobile_app_np3'},{notify:'notify.mobile_app_pixel_6a'}];\nconst ENV=msg.payload||{};\nconst D=ENV.event||ENV;          // tag/state data lives under .event (envelope); flat fallback\nconst ET=ENV.event_type;\n// outputs: 0 disarm-house | 1 disarm-shed | 2 arm-shed | 3 tts | 4 notify\nfunction clrHard(){const t=context.get('hardT');if(t){clearTimeout(t);context.set('hardT',null);}}\nfunction clrClosed(){const t=context.get('closedT');if(t){clearTimeout(t);context.set('closedT',null);}}\nfunction tts(m){return {payload:{message:m}};}\nfunction notif(title,message){return PEOPLE.filter(x=>x.notify).map(x=>({payload:{action:x.notify,data:{title:title,message:message}}}));}\nfunction rearm(why){context.set('shedOverride',false);context.set('doorOpened',false);context.set('doorOpen',false);clrHard();clrClosed();node.warn('[nfc] shed re-arm ('+why+')');node.send([null,null,{},null,null]);}\nfunction startClosed(){clrClosed();const t=setTimeout(function(){context.set('closedT',null);rearm('door closed 15m');},CLOSED);context.set('closedT',t);node.warn('[nfc] shed door closed -> 15m re-arm timer');}\nfunction shedOpenAlert(){\n  context.set('doorOpened',true);\n  node.warn('[nfc] 2h cap reached, shed door STILL OPEN -> hold disarmed + alert');\n  node.send([null,null,null,\n    tts('The shed door has been left open. The shed alarm is not armed and will not arm until the door is closed for fifteen minutes.'),\n    notif('Shed door left open','The shed has been open for 2 hours and is still open. The shed alarm is NOT armed - it will arm 15 minutes after the door is closed.')]);\n}\nfunction hardCap(){\n  context.set('hardT',null);\n  if(context.get('doorOpen')){ shedOpenAlert(); }\n  else { rearm('2h cap'); }\n}\n// TAG scans\nif(ET==='tag_scanned' || D.tag_id){\n  const tag=D.tag_id;\n  if(tag===HOUSE_TAG){ if(global.get('alarm_house')==='disarmed'){ node.warn('[nfc] front door tag \u2014 house already disarmed, skip'); return null; } node.warn('[nfc] front door -> disarm house'); return [{},null,null,null,null]; }\n  if(tag===SHED_TAG){\n    context.set('shedOverride',true); context.set('doorOpened',false); context.set('doorOpen',false);\n    clrHard(); const ht=setTimeout(hardCap, HARD); context.set('hardT',ht);\n    clrClosed();\n    if(global.get('alarm_shed')==='disarmed'){ node.warn('[nfc] back door tag \u2014 shed already disarmed, override started, skip disarm call'); return null; }\n    node.warn('[nfc] back door -> disarm shed (2h cap)');\n    return [null,{},null,null,null];   // disarm shed\n  }\n  return null;\n}\n// SHED DOOR state changes (only during override window)\nif(D.entity_id===DOOR && context.get('shedOverride')){\n  const ds=(D.new_state&&D.new_state.state)||null;\n  const open=(ds==='on');\n  context.set('doorOpen',open);\n  if(open){ context.set('doorOpened',true); clrClosed(); node.warn('[nfc] shed door opened'); }\n  else if(ds==='off' && context.get('doorOpened')){ startClosed(); }\n  return null;\n}\nreturn null;\n",
  "outputs": 5,
  "timeout": 0,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "x": 520,
  "y": 120,
  "wires": [
   [
    "nfc-disarm-house"
   ],
   [
    "nfc-disarm-shed"
   ],
   [
    "nfc-arm-shed"
   ],
   [
    "nfc-tts"
   ],
   [
    "nfc-notify"
   ]
  ]
 },
 {
  "id": "nfc-disarm-house",
  "type": "api-call-service",
  "z": "657e6b8b07b4cdf7",
  "name": "Disarm house",
  "server": "ha-server",
  "version": 5,
  "debugenabled": false,
  "action": "alarm_control_panel.alarm_disarm",
  "areaId": [],
  "deviceId": [],
  "entityId": [
   "alarm_control_panel.house"
  ],
  "data": "{}",
  "dataType": "json",
  "mergeContext": "",
  "mustacheAltTags": false,
  "outputProperties": [],
  "queue": "none",
  "x": 760,
  "y": 60,
  "wires": [
   []
  ]
 },
 {
  "id": "nfc-disarm-shed",
  "type": "api-call-service",
  "z": "657e6b8b07b4cdf7",
  "name": "Disarm shed",
  "server": "ha-server",
  "version": 5,
  "debugenabled": false,
  "action": "alarm_control_panel.alarm_disarm",
  "areaId": [],
  "deviceId": [],
  "entityId": [
   "alarm_control_panel.shed"
  ],
  "data": "{}",
  "dataType": "json",
  "mergeContext": "",
  "mustacheAltTags": false,
  "outputProperties": [],
  "queue": "none",
  "x": 760,
  "y": 110,
  "wires": [
   []
  ]
 },
 {
  "id": "nfc-arm-shed",
  "type": "api-call-service",
  "z": "657e6b8b07b4cdf7",
  "name": "Re-arm shed (away)",
  "server": "ha-server",
  "version": 5,
  "debugenabled": false,
  "action": "alarm_control_panel.alarm_arm_away",
  "areaId": [],
  "deviceId": [],
  "entityId": [
   "alarm_control_panel.shed"
  ],
  "data": "{}",
  "dataType": "json",
  "mergeContext": "",
  "mustacheAltTags": false,
  "outputProperties": [],
  "queue": "none",
  "x": 770,
  "y": 160,
  "wires": [
   []
  ]
 },
 {
  "id": "nfc-tts",
  "type": "api-call-service",
  "z": "657e6b8b07b4cdf7",
  "name": "TTS all speakers",
  "server": "ha-server",
  "version": 5,
  "debugenabled": false,
  "action": "script.tts_announce",
  "areaId": [],
  "deviceId": [],
  "entityId": [],
  "data": "{\"message\": payload.message, \"target_player\": \"media_player.home_audio_group_cast\"}",
  "dataType": "jsonata",
  "mergeContext": "",
  "mustacheAltTags": false,
  "outputProperties": [],
  "queue": "none",
  "x": 765,
  "y": 210,
  "wires": [
   []
  ]
 },
 {
  "id": "nfc-dbg",
  "type": "debug",
  "z": "657e6b8b07b4cdf7",
  "name": "nfc",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": true,
  "complete": "payload",
  "targetType": "msg",
  "statusVal": "payload.message",
  "statusType": "msg",
  "x": 520,
  "y": 200,
  "wires": []
 },
 {
  "id": "nfc-shed-door",
  "type": "server-state-changed",
  "z": "657e6b8b07b4cdf7",
  "name": "shed door change",
  "server": "ha-server",
  "version": 6,
  "outputs": 1,
  "exposeAsEntityConfig": "",
  "entities": {
   "entity": [
    "binary_sensor.shed_door_contact"
   ],
   "substring": "",
   "regex": ""
  },
  "outputInitially": false,
  "stateType": "str",
  "ifState": "",
  "ifStateType": "str",
  "ifStateOperator": "is",
  "outputOnlyOnStateChange": true,
  "for": 0,
  "forType": "num",
  "forUnits": "minutes",
  "ignorePrevStateNull": true,
  "ignorePrevStateUnknown": false,
  "ignorePrevStateUnavailable": false,
  "ignoreCurrentStateUnknown": false,
  "ignoreCurrentStateUnavailable": false,
  "outputProperties": [
   {
    "property": "payload",
    "propertyType": "msg",
    "value": "",
    "valueType": "eventData"
   }
  ],
  "entityidfiltertype": "list",
  "x": 210,
  "y": 200,
  "wires": [
   [
    "nfc-fn"
   ]
  ]
 },
 {
  "id": "nfc-notify",
  "type": "api-call-service",
  "z": "657e6b8b07b4cdf7",
  "name": "notify (per msg.payload)",
  "server": "ha-server",
  "version": 5,
  "debugenabled": false,
  "action": "{{payload.action}}",
  "areaId": [],
  "deviceId": [],
  "entityId": [],
  "data": "",
  "mergeContext": "",
  "mustacheAltTags": false,
  "outputProperties": [],
  "queue": "none",
  "x": 765,
  "y": 270,
  "wires": [
   []
  ]
 },
 {
  "id": "gn-inject",
  "type": "inject",
  "z": "657e6b8b07b4cdf7",
  "name": "22:00 nightly",
  "props": [
   {
    "p": "payload"
   }
  ],
  "repeat": "",
  "crontab": "00 22 * * *",
  "once": false,
  "onceDelay": 0.1,
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "x": 150,
  "y": 360,
  "wires": [
   [
    "gn-get"
   ]
  ]
 },
 {
  "id": "gn-get",
  "type": "ha-get-entities",
  "z": "657e6b8b07b4cdf7",
  "name": "states",
  "server": "ha-server",
  "version": 3,
  "rules": [],
  "outputType": "array",
  "outputEmptyResults": true,
  "outputLocationType": "msg",
  "outputLocation": "payload",
  "outputResultsCount": 1,
  "x": 330,
  "y": 360,
  "wires": [
   [
    "gn-fn"
   ]
  ]
 },
 {
  "id": "gn-fn",
  "type": "function",
  "z": "657e6b8b07b4cdf7",
  "name": "nightly shed re-arm",
  "func": "// 22:00 nightly: arm the shed ONLY if it is disarmed AND the door is closed.\nconst ents=Array.isArray(msg.payload)?msg.payload:[];\nconst S=id=>{const e=ents.find(x=>x.entity_id===id);return e&&e.state;};\nconst shed=S('alarm_control_panel.shed');\nconst door=S('binary_sensor.shed_door_contact');   // on=open, off=closed\nif(shed==='disarmed' && door==='off'){\n  node.warn('[nfc] 22:00 nightly: shed disarmed + door closed -> arm');\n  return {};   // -> arm shed\n}\nreturn null;   // already armed, or door open -> do nothing\n",
  "outputs": 1,
  "noerr": 0,
  "x": 530,
  "y": 360,
  "wires": [
   [
    "nfc-arm-shed"
   ]
  ]
 },
 {
  "id": "ha-server",
  "type": "server",
  "name": "Home Assistant",
  "version": 5,
  "addon": false,
  "rejectUnauthorizedCerts": false,
  "ha_boolean": "y|yes|true|on|home|open",
  "connectionDelay": true,
  "cacheJson": true,
  "heartbeat": true,
  "heartbeatInterval": 30,
  "areaSelector": "friendly",
  "deviceSelector": "friendly",
  "entitySelector": "friendly",
  "statusSeparator": "at: ",
  "statusYear": "hidden",
  "statusMonth": "short",
  "statusDay": "numeric",
  "statusHourCycle": "h23",
  "statusTimeFormat": "h:m",
  "enableGlobalContextStore": false
 }
]