flows/house-alarm.json
[
 {
  "id": "096ff268dc7bd2f0",
  "type": "tab",
  "label": "House Alarm",
  "disabled": false,
  "info": "House alarm: armed/disarmed by house_mode (Away\u2192arm_away, Sleeping\u2192arm_night, Home\u2192disarm). Alarm state notifications for House+Shed to all people. Shed auto-arm = NFC 2h re-arm (see Alarm NFC Tags flow). Battery low alerts (residents). Built 19-06-2026, updated 30-06-2026."
 },
 {
  "id": "aa-cfg-inj",
  "type": "inject",
  "z": "096ff268dc7bd2f0",
  "name": "load people (deploy)",
  "props": [
   {
    "p": "payload"
   }
  ],
  "repeat": "",
  "crontab": "",
  "once": true,
  "onceDelay": "0.3",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "x": 140,
  "y": 40,
  "wires": [
   [
    "aa-cfg"
   ]
  ]
 },
 {
  "id": "aa-cfg",
  "type": "function",
  "z": "096ff268dc7bd2f0",
  "name": "people config",
  "func": "// SINGLE source of truth. Add Cian here (create their ping sensor too).\nconst PEOPLE=[\n {name:'Colm',   person:'person.colm_finn',   ping:'binary_sensor.colm_phone_home',   notify:'notify.mobile_app_np3'},\n {name:'Olivia', person:'person.olivia_finn', ping:'binary_sensor.olivia_phone_home', notify:'notify.mobile_app_pixel_6a'},\n {name:'Daire',  person:'person.daire_finn',  ping:'binary_sensor.daire_phone_home',  notify:'notify.mobile_app_pixel_9a', onlyWhenHome:true}\n // ,{name:'Cian',  person:'person.cian_finn',  ping:'binary_sensor.cian_phone_home',  notify:'notify.mobile_app_pixel_7a'}\n];\nflow.set('people',PEOPLE);\nglobal.set('people',PEOPLE);   // shared with the Alarm NFC Tags flow\nreturn null;\n",
  "outputs": 0,
  "timeout": 0,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "x": 380,
  "y": 40,
  "wires": []
 },
 {
  "id": "aa-arm",
  "type": "api-call-service",
  "z": "096ff268dc7bd2f0",
  "name": "Arm Away (house)",
  "server": "ha-server",
  "version": 5,
  "debugenabled": false,
  "action": "alarm_control_panel.alarm_arm_away",
  "areaId": [],
  "deviceId": [],
  "entityId": [
   "alarm_control_panel.house"
  ],
  "data": "{}",
  "dataType": "json",
  "mergeContext": "",
  "mustacheAltTags": false,
  "outputProperties": [],
  "queue": "none",
  "x": 1170,
  "y": 60,
  "wires": [
   []
  ]
 },
 {
  "id": "aa-disarm",
  "type": "api-call-service",
  "z": "096ff268dc7bd2f0",
  "name": "Disarm (house)",
  "server": "ha-server",
  "version": 5,
  "debugenabled": false,
  "action": "alarm_control_panel.alarm_disarm",
  "areaId": [],
  "deviceId": [],
  "entityId": [
   "alarm_control_panel.house"
  ],
  "data": "{}",
  "dataType": "json",
  "mergeContext": "",
  "mustacheAltTags": false,
  "outputProperties": [],
  "queue": "none",
  "x": 1160,
  "y": 220,
  "wires": [
   []
  ]
 },
 {
  "id": "aa-tts",
  "type": "api-call-service",
  "z": "096ff268dc7bd2f0",
  "name": "TTS all speakers",
  "server": "ha-server",
  "version": 5,
  "debugenabled": false,
  "action": "script.tts_announce",
  "areaId": [],
  "deviceId": [],
  "entityId": [],
  "data": "{\"message\": payload.message, \"target_player\": \"media_player.home_audio_group_cast\"}",
  "dataType": "jsonata",
  "mergeContext": "",
  "mustacheAltTags": false,
  "outputProperties": [],
  "queue": "none",
  "x": 1190,
  "y": 620,
  "wires": [
   []
  ]
 },
 {
  "id": "na-alarm",
  "type": "server-state-changed",
  "z": "096ff268dc7bd2f0",
  "name": "alarm house/shed",
  "server": "ha-server",
  "version": 6,
  "outputs": 1,
  "exposeAsEntityConfig": "",
  "entities": {
   "entity": [
    "alarm_control_panel.house",
    "alarm_control_panel.shed"
   ],
   "substring": "",
   "regex": ""
  },
  "outputInitially": false,
  "stateType": "str",
  "ifState": "",
  "ifStateType": "str",
  "ifStateOperator": "is",
  "outputOnlyOnStateChange": false,
  "for": 0,
  "forType": "num",
  "forUnits": "minutes",
  "ignorePrevStateNull": true,
  "ignorePrevStateUnknown": false,
  "ignorePrevStateUnavailable": false,
  "ignoreCurrentStateUnknown": false,
  "ignoreCurrentStateUnavailable": false,
  "outputProperties": [
   {
    "property": "payload",
    "propertyType": "msg",
    "value": "",
    "valueType": "eventData"
   }
  ],
  "entityidfiltertype": "list",
  "x": 150,
  "y": 520,
  "wires": [
   [
    "na-get"
   ]
  ]
 },
 {
  "id": "na-fn",
  "type": "function",
  "z": "096ff268dc7bd2f0",
  "name": "alarm notify engine",
  "func": "// Alarm notification engine (state-derived) -> all people\nconst PEOPLE=flow.get('people')||[{notify:'notify.mobile_app_np3'},{notify:'notify.mobile_app_pixel_6a'}];\nconst ents=Array.isArray(msg.entities)?msg.entities:[];\nconst S=id=>{const e=ents.find(x=>x.entity_id===id);return e&&e.state;};\nconst homeP=p=>S(p.person)==='home'||S(p.ping)==='on';\nconst FN=id=>{const e=ents.find(x=>x.entity_id===id);return (e&&e.attributes&&e.attributes.friendly_name)||id.split('.').pop().replace(/_contact$/,'').replace(/_/g,' ').replace(/\\b\\w/g,c=>c.toUpperCase());};\nconst PERSONS=['cian','colm','aoife','olivia','daire'];\nconst spoken=id=>{const nm=FN(id).trim();const w=nm.split(/\\s+/);return (PERSONS.includes(w[0].toLowerCase())&&w.length>1)?(w[0]+\"'s \"+w.slice(1).join(' ').toLowerCase()):('the '+nm.toLowerCase());};\nconst ev=msg.payload||{};\nconst ns=ev.new_state||{}, os=ev.old_state||{};\nconst nw=ns.state, old=os.state, eid=ev.entity_id||'';\nconst area=eid.endsWith('.shed')?'Shed':'House';\nif(eid==='alarm_control_panel.house'&&nw){flow.set('alarm_house',nw);global.set('alarm_house',nw);}\nif(eid==='alarm_control_panel.shed'&&nw){global.set('alarm_shed',nw);}\nconst ARMED=['armed_away','armed_home','armed_night','armed_vacation','armed_custom_bypass'];\nconst opens=(ns.attributes&&ns.attributes.open_sensors)||null;\nfunction ol(){ if(!opens) return ''; try{return ' Open: '+Object.keys(opens).map(id=>FN(id)).join(', ')+'.';}catch(e){return '';} }\nlet title=null,message=null,tag=null;\nif(ARMED.includes(nw)&&!ARMED.includes(old)){title='\ud83d\udd12 '+area+' alarm armed';message='The '+area+' alarm is now armed.';tag='armed';}\nelse if(nw==='triggered'){title='\ud83d\udea8 '+area+' alarm TRIGGERED';message='The '+area+' alarm has been triggered!'+ol();tag='trig';}\nelse if(old==='triggered'&&nw!=='triggered'){title='\u2705 '+area+' alarm clear';message='The '+area+' alarm is no longer triggered.';tag='untrig';}\nelse if(nw==='disarmed'&&opens&&Object.keys(opens).length&&(old==='disarmed'||old==='arming')){title='\u26a0\ufe0f '+area+' failed to arm';message='The '+area+' alarm failed to arm.'+ol();tag='failed';}\nelse if(nw==='disarmed'&&(ARMED.includes(old)||old==='triggered'||old==='pending'||old==='arming')){title='\ud83d\udd13 '+area+' alarm disarmed';message='The '+area+' alarm has been disarmed.';tag='disarm';}\nelse { return null; }\nconst key=tag+'|'+message, last=context.get('last_'+eid);\nif(last===key) return null;\ncontext.set('last_'+eid,key);\nnode.warn('[alarm-notify] '+area+' '+tag+' -> '+PEOPLE.filter(p=>p.notify&&(!p.onlyWhenHome||homeP(p))).length+' people');\nconst ICON={armed:'mdi:shield-lock',trig:'mdi:alarm-light',untrig:'mdi:shield-check',disarm:'mdi:shield-off',failed:'mdi:shield-alert'};\nconst ico=ICON[tag]||'mdi:shield-home';\nconst out=PEOPLE.filter(p=>p.notify&&(!p.onlyWhenHome||homeP(p))).map(p=>({payload:{action:p.notify,data:{title:title,message:message,data:{notification_icon:ico}}}}));\nconst _aw=flow.get('awaitWelcome');const _welcomePending=!!(_aw&&(Date.now()-_aw.since)<8*60*1000);\nlet sm=null;\nif(tag==='armed') sm=(nw==='armed_night')?null:(area+' alarm armed.');\nelse if(tag==='disarm') sm=(old==='armed_night')?null:((eid==='alarm_control_panel.house'&&_welcomePending)?null:(area+' alarm disarmed.'));\nelse if(tag==='trig') sm='Warning! The '+area+' alarm has been triggered.';\nelse if(tag==='untrig') sm='The '+area+' alarm is no longer triggered.';\nelse if(tag==='failed'){const ks=opens?Object.keys(opens):[];const isHouse=(eid==='alarm_control_panel.house');if(isHouse&&flow.get('failSpoken')){sm=null;}else{if(isHouse)flow.set('failSpoken',true);sm=ks.length===1?('Alarm failed to arm because '+spoken(ks[0])+' is open.'):'Alarm failed to arm. Multiple windows and or doors are open. Check Home Assistant.';}}\nreturn [out, sm?{payload:{message:sm}}:null];\n",
  "outputs": 2,
  "timeout": 0,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "x": 710,
  "y": 540,
  "wires": [
   [
    "na-notify",
    "na-dbg"
   ],
   [
    "aa-tts"
   ]
  ]
 },
 {
  "id": "na-notify",
  "type": "api-call-service",
  "z": "096ff268dc7bd2f0",
  "name": "notify (per msg.payload)",
  "server": "ha-server",
  "version": 5,
  "debugenabled": false,
  "action": "{{payload.action}}",
  "areaId": [],
  "deviceId": [],
  "entityId": [],
  "data": "",
  "mergeContext": "",
  "mustacheAltTags": false,
  "outputProperties": [],
  "queue": "none",
  "x": 1190,
  "y": 520,
  "wires": [
   []
  ]
 },
 {
  "id": "na-dbg",
  "type": "debug",
  "z": "096ff268dc7bd2f0",
  "name": "alarm-notify",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": true,
  "complete": "payload",
  "targetType": "msg",
  "statusVal": "payload.data.title",
  "statusType": "msg",
  "x": 1290,
  "y": 400,
  "wires": []
 },
 {
  "id": "na-get",
  "type": "ha-get-entities",
  "z": "096ff268dc7bd2f0",
  "name": "states",
  "server": "ha-server",
  "version": 3,
  "rules": [],
  "outputType": "array",
  "outputEmptyResults": true,
  "outputLocationType": "msg",
  "outputLocation": "entities",
  "outputResultsCount": 1,
  "x": 430,
  "y": 520,
  "wires": [
   [
    "na-fn",
    "aa-retry-fn"
   ]
  ]
 },
 {
  "id": "aa-batt-trg",
  "type": "server-state-changed",
  "z": "096ff268dc7bd2f0",
  "name": "battery <15 (residents)",
  "server": "ha-server",
  "version": 6,
  "outputs": 1,
  "exposeAsEntityConfig": "",
  "entities": {
   "entity": [
    "sensor.np3_battery_level",
    "sensor.pixel_6a_battery_level"
   ],
   "substring": "",
   "regex": ""
  },
  "outputInitially": false,
  "stateType": "str",
  "ifState": "",
  "ifStateType": "str",
  "ifStateOperator": "is",
  "outputOnlyOnStateChange": true,
  "for": 0,
  "forType": "num",
  "forUnits": "minutes",
  "ignorePrevStateNull": true,
  "ignorePrevStateUnknown": true,
  "ignorePrevStateUnavailable": true,
  "ignoreCurrentStateUnknown": false,
  "ignoreCurrentStateUnavailable": false,
  "outputProperties": [
   {
    "property": "payload",
    "propertyType": "msg",
    "value": "",
    "valueType": "entityState"
   },
   {
    "property": "data",
    "propertyType": "msg",
    "value": "",
    "valueType": "eventData"
   }
  ],
  "entityidfiltertype": "list",
  "x": 160,
  "y": 700,
  "wires": [
   [
    "aa-batt-get"
   ]
  ]
 },
 {
  "id": "aa-batt-fn",
  "type": "function",
  "z": "096ff268dc7bd2f0",
  "name": "low-battery nudge",
  "func": "// Layer 3: low-battery alerts (alarm presence) -> Colm+Olivia\n// Day (07-22): immediate low (<15%) + immediate recovery (>=15% AND charging).\n// Night (22-07): silent, record events for the 07:00 catch-up summary.\nconst d=msg.data||{};\nconst eid=d.entity_id||msg.topic;\nconst nv=parseFloat(msg.payload);\nconst ov=parseFloat(d.old_state&&d.old_state.state);\nif(isNaN(nv)) return null;\nconst ents=msg.entities||[];\nconst S=id=>{const e=ents.find(x=>x.entity_id===id);return e?e.state:undefined;};\nconst NAME={'sensor.np3_battery_level':\"Colm's\",'sensor.pixel_6a_battery_level':\"Olivia's\"};\nconst STATE={'sensor.np3_battery_level':'sensor.np3_battery_state','sensor.pixel_6a_battery_level':'sensor.pixel_6a_battery_state'};\nconst who=NAME[eid];\nif(!who) return null;\nconst charging=S(STATE[eid])==='charging';\nconst h=new Date().getHours();\nconst night=(h>=22||h<7);\nconst hhmm=()=>{const t=new Date();return ('0'+t.getHours()).slice(-2)+':'+('0'+t.getMinutes()).slice(-2);};\nconst ALERTS=['notify.mobile_app_np3','notify.mobile_app_pixel_6a'];\nconst push=(title,message)=>[ALERTS.map(a=>({payload:{action:a,data:{title:title,message:message,data:{notification_icon:'mdi:battery-alert'}}}}))];\n// down-crossing below 15%\nif(nv<15 && !(ov<15)){\n  if(night){\n    const rec=flow.get('battNight')||{};\n    rec[eid]={who:who,lowPct:nv,lowAt:hhmm(),recovered:false};\n    flow.set('battNight',rec);\n    node.warn('[low-batt] night low '+eid+' '+nv+'% recorded');\n    return null;\n  }\n  node.warn('[low-batt] '+eid+' '+nv+'%');\n  return push('Phone battery low',who+' phone is at '+nv+'% - charge it so the alarm presence keeps working.');\n}\n// up-crossing above 15% AND charging -> recovery\nif(nv>=15 && ov<15 && charging){\n  if(night){\n    const rec=flow.get('battNight')||{};\n    const e=rec[eid]||{who:who,recovered:false};\n    e.recovered=true; e.recPct=nv; e.recAt=hhmm();\n    rec[eid]=e; flow.set('battNight',rec);\n    node.warn('[low-batt] night recovery '+eid+' '+nv+'% recorded');\n    return null;\n  }\n  node.warn('[low-batt] recovery '+eid+' '+nv+'%');\n  return push('Phone battery recovering',who+' phone is back above 15% ('+nv+'%) and charging - alarm presence is covered again.');\n}\nreturn null;",
  "outputs": 1,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "x": 750,
  "y": 700,
  "wires": [
   [
    "aa-batt-notify"
   ]
  ]
 },
 {
  "id": "aa-batt-get",
  "type": "ha-get-entities",
  "z": "096ff268dc7bd2f0",
  "name": "get states",
  "server": "ha-server",
  "version": 3,
  "rules": [],
  "outputType": "array",
  "outputEmptyResults": true,
  "outputLocationType": "msg",
  "outputLocation": "entities",
  "outputResultsCount": 1,
  "output_type": "array",
  "output_empty_results": true,
  "output_location_type": "msg",
  "output_location": "entities",
  "output_results_count": 1,
  "x": 480,
  "y": 700,
  "wires": [
   [
    "aa-batt-fn"
   ]
  ]
 },
 {
  "id": "aa-batt-cron",
  "type": "inject",
  "z": "096ff268dc7bd2f0",
  "name": "07:00 catch-up",
  "props": [
   {
    "p": "payload"
   }
  ],
  "repeat": "",
  "crontab": "00 07 * * *",
  "once": false,
  "onceDelay": 0.1,
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "x": 140,
  "y": 800,
  "wires": [
   [
    "aa-batt-sum-get"
   ]
  ]
 },
 {
  "id": "aa-batt-sum-get",
  "type": "ha-get-entities",
  "z": "096ff268dc7bd2f0",
  "name": "get states",
  "server": "ha-server",
  "version": 3,
  "rules": [],
  "outputType": "array",
  "outputEmptyResults": true,
  "outputLocationType": "msg",
  "outputLocation": "entities",
  "outputResultsCount": 1,
  "output_type": "array",
  "output_empty_results": true,
  "output_location_type": "msg",
  "output_location": "entities",
  "output_results_count": 1,
  "x": 480,
  "y": 800,
  "wires": [
   [
    "aa-batt-sum-fn"
   ]
  ]
 },
 {
  "id": "aa-batt-sum-fn",
  "type": "function",
  "z": "096ff268dc7bd2f0",
  "name": "overnight summary",
  "func": "// 07:00 overnight battery catch-up summary -> Colm+Olivia (only if events occurred)\nconst rec=flow.get('battNight')||{};\nconst eids=Object.keys(rec);\nif(eids.length===0) return null;\nconst ents=msg.entities||[];\nconst S=id=>{const e=ents.find(x=>x.entity_id===id);return e?e.state:undefined;};\nconst STATE={'sensor.np3_battery_level':'sensor.np3_battery_state','sensor.pixel_6a_battery_level':'sensor.pixel_6a_battery_state'};\nconst lines=eids.map(eid=>{\n  const e=rec[eid];\n  const nowPct=S(eid);\n  const nowChg=S(STATE[eid])==='charging';\n  let line='\\u2022 '+e.who+' phone';\n  if(e.lowAt) line+=' dropped to '+e.lowPct+'% at '+e.lowAt;\n  if(e.recovered) line+=(e.lowAt?', recovered to ':' charged to ')+e.recPct+'% at '+e.recAt;\n  line+=' (now '+(nowPct!==undefined?nowPct+'%':'?')+(nowChg?', charging':', not charging')+')';\n  return line;\n});\nflow.set('battNight',{});\nnode.warn('[low-batt] morning summary: '+eids.length+' phone(s)');\nconst ALERTS=['notify.mobile_app_np3','notify.mobile_app_pixel_6a'];\nconst msgTxt='Overnight while notifications were quiet:\\n'+lines.join('\\n');\nreturn [ALERTS.map(a=>({payload:{action:a,data:{title:'\\ud83d\\udd0b Overnight battery summary',message:msgTxt,data:{notification_icon:'mdi:battery-clock'}}}}))];",
  "outputs": 1,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "x": 770,
  "y": 800,
  "wires": [
   [
    "aa-batt-notify"
   ]
  ]
 },
 {
  "id": "aa-batt-notify",
  "type": "api-call-service",
  "z": "096ff268dc7bd2f0",
  "name": "low-batt notify (Colm+Olivia)",
  "server": "ha-server",
  "version": 5,
  "debugenabled": false,
  "action": "{{payload.action}}",
  "areaId": [],
  "deviceId": [],
  "entityId": [],
  "data": "",
  "mergeContext": "",
  "mustacheAltTags": false,
  "outputProperties": [],
  "queue": "none",
  "x": 1220,
  "y": 760,
  "wires": [
   []
  ]
 },
 {
  "id": "aa-hm",
  "type": "server-state-changed",
  "z": "096ff268dc7bd2f0",
  "name": "house_mode",
  "server": "ha-server",
  "version": 6,
  "outputs": 1,
  "exposeAsEntityConfig": "",
  "entities": {
   "entity": [
    "input_select.house_mode"
   ],
   "substring": "",
   "regex": ""
  },
  "outputInitially": false,
  "stateType": "str",
  "ifState": "",
  "ifStateType": "str",
  "ifStateOperator": "is",
  "outputOnlyOnStateChange": true,
  "for": 0,
  "forType": "num",
  "forUnits": "minutes",
  "ignorePrevStateNull": true,
  "ignorePrevStateUnknown": true,
  "ignorePrevStateUnavailable": true,
  "ignoreCurrentStateUnknown": false,
  "ignoreCurrentStateUnavailable": false,
  "outputProperties": [
   {
    "property": "payload",
    "propertyType": "msg",
    "value": "",
    "valueType": "eventData"
   }
  ],
  "entityidfiltertype": "list",
  "x": 470,
  "y": 260,
  "wires": [
   [
    "aa-hm-fn"
   ]
  ]
 },
 {
  "id": "aa-hm-fn",
  "type": "function",
  "z": "096ff268dc7bd2f0",
  "name": "mode \u2192 alarm",
  "func": "const ev = msg.payload || {};\nconst mode    = ev.new_state ? ev.new_state.state : '';\nconst oldMode = (ev.old_state  && ev.old_state.state)  || '';\nconst guestMode = flow.get('guest_mode') || 'off';\nnode.warn('[house-alarm] house_mode: ' + oldMode + ' \u2192 ' + mode + (guestMode === 'on' ? ' [guest mode]' : ''));\nif (mode) flow.set('mode', mode);\nif (mode === 'Away') {\n    // Guest mode blocks Away arming ONLY (guests moving around would trip it)\n    if (guestMode === 'on') { node.warn('[house-alarm] arm away skipped \u2014 guest mode active'); return null; }\n    if (flow.get('alarm_house') === 'armed_away') { node.warn('[house-alarm] arm away skipped \u2014 already armed_away'); return null; }\n    return [{}, null, null, {payload:{message:'Nobody is home. Arming the house alarm.'}}];\n}\nif (mode === 'Sleeping') {\n    // Night arming is NOT blocked by guest mode (changed 02-07-2026) \u2014 perimeter still armed overnight with guests in\n    if (flow.get('alarm_house') === 'armed_night') { node.warn('[house-alarm] arm night skipped \u2014 already armed_night'); return null; }\n    return [null, {}, null, null];\n}\nif (mode === 'Home') {\n    if (oldMode === 'Away') { flow.set('awaitWelcome', {since: Date.now()}); node.warn('[house-alarm] welcome armed \u2014 awaiting front door open'); }\n    const needDisarm = flow.get('alarm_house') !== 'disarmed';\n    if (!needDisarm) node.warn('[house-alarm] disarm skipped \u2014 already disarmed');\n    return [null, null, needDisarm ? {} : null, null];\n}\nreturn null;\n",
  "outputs": 4,
  "timeout": 0,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "x": 880,
  "y": 240,
  "wires": [
   [
    "aa-arm"
   ],
   [
    "aa-arm-night"
   ],
   [
    "aa-disarm"
   ],
   [
    "aa-tts"
   ]
  ]
 },
 {
  "id": "aa-arm-night",
  "type": "api-call-service",
  "z": "096ff268dc7bd2f0",
  "name": "Arm Night (house)",
  "server": "ha-server",
  "version": 5,
  "debugenabled": false,
  "action": "alarm_control_panel.alarm_arm_night",
  "areaId": [],
  "deviceId": [],
  "entityId": [
   "alarm_control_panel.house"
  ],
  "data": "{}",
  "dataType": "json",
  "mergeContext": "",
  "mustacheAltTags": false,
  "outputProperties": [],
  "queue": "none",
  "x": 1170,
  "y": 140,
  "wires": [
   []
  ]
 },
 {
  "id": "aa-hm-init",
  "type": "inject",
  "z": "096ff268dc7bd2f0",
  "name": "startup",
  "props": [
   {
    "p": "payload"
   }
  ],
  "repeat": "",
  "crontab": "",
  "once": true,
  "onceDelay": "2",
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "x": 100,
  "y": 100,
  "wires": [
   [
    "aa-hm-init-get"
   ]
  ]
 },
 {
  "id": "aa-hm-startup-fn",
  "type": "function",
  "z": "096ff268dc7bd2f0",
  "name": "current house_mode",
  "func": "const ents = Array.isArray(msg.payload) ? msg.payload : [];\nconst hm = ents.find(x => x.entity_id === 'input_select.house_mode');\nconst gm = ents.find(x => x.entity_id === 'input_boolean.guest_mode');\nconst mode = hm ? hm.state : '';\nconst guestMode = gm ? gm.state : 'off';\nflow.set('guest_mode', guestMode);\nconst _ah=ents.find(x=>x.entity_id==='alarm_control_panel.house'); if(_ah){flow.set('alarm_house',_ah.state);global.set('alarm_house',_ah.state);}\nconst _as=ents.find(x=>x.entity_id==='alarm_control_panel.shed'); if(_as) global.set('alarm_shed',_as.state);\nnode.warn('[house-alarm] startup: house_mode=' + mode + ' guest_mode=' + guestMode);\nif (!mode) return null;\nflow.set('mode', mode);\nmsg.payload = { new_state: { state: mode }, old_state: { state: '' } };\nreturn msg;\n",
  "outputs": 1,
  "timeout": 0,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "x": 680,
  "y": 100,
  "wires": [
   [
    "aa-hm-fn"
   ]
  ]
 },
 {
  "id": "aa-hm-init-get",
  "type": "ha-get-entities",
  "z": "096ff268dc7bd2f0",
  "name": "get house_mode",
  "server": "ha-server",
  "version": 3,
  "rules": [],
  "outputType": "array",
  "outputEmptyResults": true,
  "outputLocationType": "msg",
  "outputLocation": "payload",
  "outputResultsCount": 1,
  "x": 410,
  "y": 100,
  "wires": [
   [
    "aa-hm-startup-fn"
   ]
  ]
 },
 {
  "id": "aa-guest-watcher",
  "type": "server-state-changed",
  "z": "096ff268dc7bd2f0",
  "name": "guest_mode",
  "server": "ha-server",
  "version": 6,
  "outputs": 1,
  "entities": {
   "entity": [
    "input_boolean.guest_mode"
   ],
   "substring": "",
   "regex": ""
  },
  "outputInitially": false,
  "stateType": "str",
  "outputOnlyOnStateChange": true,
  "for": 0,
  "forType": "num",
  "forUnits": "minutes",
  "outputProperties": [
   {
    "property": "payload",
    "propertyType": "msg",
    "value": "",
    "valueType": "eventData"
   }
  ],
  "entityidfiltertype": "list",
  "x": 130,
  "y": 360,
  "wires": [
   [
    "aa-guest-fn"
   ]
  ]
 },
 {
  "id": "aa-guest-fn",
  "type": "function",
  "z": "096ff268dc7bd2f0",
  "name": "guest_mode change",
  "func": "const ev = msg.payload || {};\nconst state = ev.new_state ? ev.new_state.state : '';\nflow.set('guest_mode', state);\nnode.warn('[house-alarm] guest_mode: ' + state);\nif (state === 'off') {\n    // Guest left \u2014 re-evaluate current house_mode\n    const mode = flow.get('mode') || '';\n    node.warn('[house-alarm] guest_mode off, re-evaluating mode=' + mode);\n    msg.payload = { new_state: { state: mode }, old_state: { state: '' } };\n    return msg;\n}\nreturn null;\n",
  "outputs": 1,
  "timeout": 0,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "x": 500,
  "y": 360,
  "wires": [
   [
    "aa-hm-fn"
   ]
  ]
 },
 {
  "id": "aa-reconcile-cron",
  "type": "inject",
  "z": "096ff268dc7bd2f0",
  "name": "reconcile 60s",
  "props": [
   {
    "p": "payload"
   }
  ],
  "repeat": "60",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "x": 120,
  "y": 280,
  "wires": [
   [
    "aa-reconcile-get"
   ]
  ]
 },
 {
  "id": "aa-reconcile-get",
  "type": "ha-get-entities",
  "z": "096ff268dc7bd2f0",
  "name": "get house_mode+guest",
  "server": "ha-server",
  "version": 3,
  "rules": [],
  "outputType": "array",
  "outputEmptyResults": true,
  "outputLocationType": "msg",
  "outputLocation": "payload",
  "outputResultsCount": 1,
  "x": 310,
  "y": 180,
  "wires": [
   [
    "aa-reconcile-fn"
   ]
  ]
 },
 {
  "id": "aa-reconcile-fn",
  "type": "function",
  "z": "096ff268dc7bd2f0",
  "name": "reconcile (missed change only)",
  "func": "// === House Alarm reconcile (safety net for missed house_mode events) ===\n// Runs periodically. Compares the CURRENT house_mode to the last one the flow PROCESSED\n// (flow.mode). Only if they differ (a change was missed \u2014 e.g. Node-RED's HA connection\n// blipped at the moment house_mode changed) does it re-apply, by feeding aa-hm-fn a\n// synthetic event. Because it keys off flow.mode (not the alarm state), a MANUAL disarm\n// \u2014 which doesn't change house_mode \u2014 is left untouched until house_mode next changes.\nconst ents = Array.isArray(msg.payload) ? msg.payload : [];\nconst S = id => { const e = ents.find(x => x.entity_id === id); return e ? e.state : undefined; };\n\nconst mode = S('input_select.house_mode');\nconst guestMode = S('input_boolean.guest_mode') || 'off';\nif (!ents.length || !mode) return null;          // no data (e.g. get returned empty) -> do nothing\n\nflow.set('guest_mode', guestMode);               // keep guest state fresh (its watcher could also miss an event)\n\nconst lastMode = flow.get('mode') || '';\nif (mode === lastMode) return null;              // no missed change -> respect current (incl. manual) state\n\nnode.warn('[house-alarm] RECONCILE: missed house_mode change ' + lastMode + ' -> ' + mode + ' \u2014 re-applying');\nflow.set('mode', mode);\nmsg.payload = { new_state: { state: mode }, old_state: { state: lastMode } };\nreturn msg;                                       // -> aa-hm-fn (arms/disarms exactly like a real change)\n",
  "outputs": 1,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "x": 610,
  "y": 180,
  "wires": [
   [
    "aa-hm-fn"
   ]
  ]
 },
 {
  "id": "aa-retry-tick",
  "type": "inject",
  "z": "096ff268dc7bd2f0",
  "name": "night-retry 60s",
  "props": [
   {
    "p": "payload"
   }
  ],
  "repeat": "60",
  "crontab": "",
  "once": false,
  "onceDelay": 0.1,
  "topic": "",
  "payload": "",
  "payloadType": "date",
  "x": 120,
  "y": 420,
  "wires": [
   [
    "aa-retry-get"
   ]
  ]
 },
 {
  "id": "aa-retry-get",
  "type": "ha-get-entities",
  "z": "096ff268dc7bd2f0",
  "name": "states",
  "server": "ha-server",
  "version": 3,
  "rules": [],
  "outputType": "array",
  "outputEmptyResults": true,
  "outputLocationType": "msg",
  "outputLocation": "entities",
  "outputResultsCount": 1,
  "x": 470,
  "y": 420,
  "wires": [
   [
    "aa-retry-fn"
   ]
  ]
 },
 {
  "id": "aa-retry-fn",
  "type": "function",
  "z": "096ff268dc7bd2f0",
  "name": "night-arm retry",
  "func": "// Night-arm retry (one shot).\n// Alarmo refuses arm_night when a door/window is open: the panel STAYS 'disarmed'\n// and names the culprits in attribute open_sensors. aa-hm-fn is a state-change\n// one-shot on house_mode, so nothing ever tried again -- the house sat unarmed\n// all night. This retries ONCE, RETRY_MIN after every blocker is closed again\n// (someone got up to shut it; give them time to settle back down).\nconst RETRY_MIN = 20;\nconst RETRY_MS  = RETRY_MIN * 60 * 1000;\n\nconst ents = Array.isArray(msg.entities) ? msg.entities : [];\nif (!ents.length) return null;                       // no snapshot -> can't judge\nconst S = id => { const e = ents.find(x => x.entity_id === id); return e && e.state; };\nconst FN = id => { const e = ents.find(x => x.entity_id === id);\n                   return (e && e.attributes && e.attributes.friendly_name) || id; };\n\nconst hm    = S('input_select.house_mode');\nconst alarm = S('alarm_control_panel.house');\nconst now   = Date.now();\n\n// Left Sleeping, or armed by any route -> the whole thing is off. This is also\n// where the next night's state gets cleared (incl. na-fn's spoken-once flag).\nif (hm !== 'Sleeping' || (alarm && alarm !== 'disarmed')) {\n  if (context.get('blockers') || context.get('retryUsed') || flow.get('failSpoken')) {\n    node.warn('[night-retry] stand down (house_mode=' + hm + ', alarm=' + alarm + ')');\n  }\n  context.set('blockers', null);\n  context.set('closedSince', null);\n  context.set('retryUsed', false);\n  flow.set('failSpoken', false);\n  return null;\n}\n\n// Capture a failed night arm: disarmed + Alarmo naming open sensors, while Sleeping.\nconst ev = msg.payload || {};\nconst ns = ev.new_state || {};\nif (ev.entity_id === 'alarm_control_panel.house' && ns.state === 'disarmed' &&\n    ns.attributes && ns.attributes.open_sensors) {\n  if (context.get('retryUsed')) {\n    node.warn('[night-retry] arm failed again -- retry already used, standing down');\n  } else {\n    const b = Object.keys(ns.attributes.open_sensors);\n    context.set('blockers', b);\n    context.set('closedSince', null);\n    node.warn('[night-retry] armed blocked by: ' + b.map(FN).join(', ') + ' -- waiting for all closed');\n  }\n  return null;\n}\n\nconst blockers = context.get('blockers');\nif (!blockers || !blockers.length) return null;\nif (context.get('retryUsed')) return null;\n\nconst stillOpen = blockers.filter(id => S(id) !== 'off');\nif (stillOpen.length) {                              // re-opened (or never closed) -> clock resets\n  if (context.get('closedSince')) node.warn('[night-retry] re-opened: ' + stillOpen.map(FN).join(', ') + ' -- timer reset');\n  context.set('closedSince', null);\n  return null;\n}\n\nlet since = context.get('closedSince');\nif (!since) {\n  context.set('closedSince', now);\n  node.warn('[night-retry] all closed -- arming in ' + RETRY_MIN + ' min');\n  return null;\n}\n\nif (now - since < RETRY_MS) return null;             // still settling\n\ncontext.set('retryUsed', true);                      // ONE retry, then stop\ncontext.set('closedSince', null);\nnode.warn('[night-retry] retrying arm_night now');\nreturn {};\n",
  "outputs": 1,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "x": 880,
  "y": 420,
  "wires": [
   [
    "aa-arm-night"
   ]
  ]
 },
 {
  "id": "aa-door",
  "type": "server-state-changed",
  "z": "096ff268dc7bd2f0",
  "name": "front door open",
  "server": "ha-server",
  "version": 6,
  "outputs": 1,
  "exposeAsEntityConfig": "",
  "entities": {
   "entity": [
    "binary_sensor.front_door_contact"
   ],
   "substring": "",
   "regex": ""
  },
  "outputInitially": false,
  "stateType": "str",
  "ifState": "",
  "ifStateType": "str",
  "ifStateOperator": "is",
  "outputOnlyOnStateChange": true,
  "for": 0,
  "forType": "num",
  "forUnits": "minutes",
  "ignorePrevStateNull": true,
  "ignorePrevStateUnknown": true,
  "ignorePrevStateUnavailable": true,
  "ignoreCurrentStateUnknown": false,
  "ignoreCurrentStateUnavailable": false,
  "outputProperties": [
   {
    "property": "payload",
    "propertyType": "msg",
    "value": "",
    "valueType": "eventData"
   }
  ],
  "entityidfiltertype": "list",
  "x": 140,
  "y": 600,
  "wires": [
   [
    "aa-welcome-get"
   ]
  ]
 },
 {
  "id": "aa-welcome-get",
  "type": "ha-get-entities",
  "z": "096ff268dc7bd2f0",
  "name": "states",
  "server": "ha-server",
  "version": 3,
  "rules": [],
  "outputType": "array",
  "outputEmptyResults": true,
  "outputLocationType": "msg",
  "outputLocation": "entities",
  "outputResultsCount": 1,
  "x": 390,
  "y": 600,
  "wires": [
   [
    "aa-welcome-fn"
   ]
  ]
 },
 {
  "id": "aa-welcome-fn",
  "type": "function",
  "z": "096ff268dc7bd2f0",
  "name": "welcome (door-gated)",
  "func": "const aw = flow.get('awaitWelcome');\nconst WINDOW = 8 * 60 * 1000;\nconst opened = msg.payload && msg.payload.new_state && msg.payload.new_state.state === 'on';\nif (!opened) return null;\nif (!aw || (Date.now() - aw.since) > WINDOW) return null;\nflow.set('awaitWelcome', null);\nconst ents = Array.isArray(msg.entities) ? msg.entities : [];\nconst S = id => { const e = ents.find(x => x.entity_id === id); return e && e.state; };\nconst PEOPLE = flow.get('people') || [];\nconst home = PEOPLE.filter(p => p.name && (S(p.person) === 'home' || S(p.ping) === 'on')).map(p => p.name);\nlet who = null;\nif (home.length === 1) who = home[0];\nelse if (home.length > 1) who = home.slice(0, -1).join(', ') + ' and ' + home[home.length - 1];\nconst message = who ? ('Welcome home, ' + who + '. The house has been disarmed.') : 'Welcome home. The house has been disarmed.';\nnode.warn('[house-alarm] ' + message);\nreturn { payload: { message } };",
  "outputs": 1,
  "noerr": 0,
  "initialize": "",
  "finalize": "",
  "libs": [],
  "x": 640,
  "y": 600,
  "wires": [
   [
    "aa-welcome-delay"
   ]
  ]
 },
 {
  "id": "aa-welcome-delay",
  "type": "delay",
  "z": "096ff268dc7bd2f0",
  "name": "10s",
  "pauseType": "delay",
  "timeout": "25",
  "timeoutUnits": "seconds",
  "rate": "1",
  "nbRateUnits": "1",
  "rateUnits": "second",
  "randomFirst": "1",
  "randomLast": "5",
  "randomUnits": "seconds",
  "drop": false,
  "allowrate": false,
  "outputs": 1,
  "x": 850,
  "y": 600,
  "wires": [
   [
    "aa-tts"
   ]
  ]
 },
 {
  "id": "ha-server",
  "type": "server",
  "name": "Home Assistant",
  "version": 5,
  "addon": false,
  "rejectUnauthorizedCerts": false,
  "ha_boolean": "y|yes|true|on|home|open",
  "connectionDelay": true,
  "cacheJson": true,
  "heartbeat": true,
  "heartbeatInterval": 30,
  "areaSelector": "friendly",
  "deviceSelector": "friendly",
  "entitySelector": "friendly",
  "statusSeparator": "at: ",
  "statusYear": "hidden",
  "statusMonth": "short",
  "statusDay": "numeric",
  "statusHourCycle": "h23",
  "statusTimeFormat": "h:m",
  "enableGlobalContextStore": false
 }
]