data/flows.json
[
    {
        "id": "tab-hm",
        "type": "tab",
        "label": "House Mode",
        "disabled": false,
        "info": "House Mode orchestrator (STATE-ONLY). Occupancy Home/Away/Sleeping + storm/maintenance/guest overlays. Sleeping = 23:00–07:00 + adult home + 20m no-activity (motion/presence, any light on-off, any dimmer press) + TVs off + sitting-room lights off. Wake = first activity from 06:00 (2h re-entry block). No tag. No consumers wired yet."
    },
    {
        "id": "tab-cam",
        "type": "tab",
        "label": "Camera Concierge",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5a86c1a3371ffe9e",
        "type": "tab",
        "label": "Heating Control",
        "disabled": false,
        "info": "DRAFT 18-06-2026 - DISABLED. Schedule + presence -> climate.netatmo_smart_thermostat via HomeKit. Set Netatmo native schedule to flat night baseline before enabling. Away->night 19.5, 24h-empty->away 12 (input_boolean.heating_extended_away toggle, defaults ON). 30-min heartbeat re-assert. See project_heating_nodered memory."
    },
    {
        "id": "096ff268dc7bd2f0",
        "type": "tab",
        "label": "House Alarm",
        "disabled": false,
        "info": "House alarm: armed/disarmed by house_mode (Away→arm_away, Sleeping→arm_night, Home→disarm). Alarm state notifications for House+Shed to all people. Shed auto-arm = NFC 2h re-arm (see Alarm NFC Tags flow). Battery low alerts (residents). Built 19-06-2026, updated 30-06-2026."
    },
    {
        "id": "657e6b8b07b4cdf7",
        "type": "tab",
        "label": "Alarm NFC Tags",
        "disabled": false,
        "info": "Front-door NFC -> disarm house + TTS. Back-door NFC -> disarm shed for 2h then auto re-arm + TTS (each). Built 19-06-2026."
    },
    {
        "id": "tab-ih",
        "type": "tab",
        "label": "Infra Health & Alerts",
        "disabled": false,
        "info": "Consolidated infra health + backup/Zabbix alerts (migrated from HA 28-06-2026). Group A: ih-watch->ih-engine. Group B: 4 http-in. All -> ih-send (type-prefix + quiet-hours 22-07 + 07:00 flush)."
    },
    {
        "id": "tab-iw",
        "type": "tab",
        "label": "Infra Watchdog",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ha-server",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": true,
        "heartbeatInterval": 30,
        "areaSelector": "friendly",
        "deviceSelector": "friendly",
        "entitySelector": "friendly",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "tls-insecure",
        "type": "tls-config",
        "name": "insecure (self-signed)",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "mqtt-frigate",
        "type": "mqtt-broker",
        "name": "Frigate MQTT",
        "broker": "10.0.0.229",
        "port": "1883",
        "clientid": "node-red-cam",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "hm-presence",
        "type": "server-state-changed",
        "z": "tab-hm",
        "name": "presence + indoor",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "person.colm_finn",
                "person.olivia_finn",
                "binary_sensor.colm_phone_home",
                "binary_sensor.olivia_phone_home",
                "binary_sensor.hallway_motion_sensor_occupancy",
                "binary_sensor.landing_motion_sensor_occupancy",
                "binary_sensor.sitting_room_presence_occupancy",
                "binary_sensor.office_presence_occupancy",
                "person.daire_finn",
                "binary_sensor.daire_phone_home"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "eid",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityId"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "presence",
                "valueType": "str"
            }
        ],
        "entityidfiltertype": "list",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "hm-pres-get"
            ]
        ]
    },
    {
        "id": "hm-lights",
        "type": "server-state-changed",
        "z": "tab-hm",
        "name": "all lights (activity)",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "light.hallway",
                "light.landing",
                "light.aoife_bedroom",
                "light.office",
                "light.colm_bedroom",
                "light.cian_bedroom",
                "light.sitting_room",
                "light.kitchen",
                "light.downstairs",
                "light.upstairs",
                "light.sitting_room_tv_lightstrip",
                "light.kitchen_tv_lightstrip",
                "light.olivia_bedside",
                "light.landing_1",
                "light.colm_ceiling",
                "light.cian_ceiling",
                "light.kitchen_1",
                "light.kitchen_2",
                "light.kitchen_3",
                "light.office_ceiling",
                "light.hallway_1",
                "light.aoife_ceiling",
                "light.colm_bedside",
                "light.sitting_room_stand",
                "light.sitting_room_lamp"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "eid",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityId"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "lights",
                "valueType": "str"
            }
        ],
        "entityidfiltertype": "list",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "hm-engine"
            ]
        ]
    },
    {
        "id": "hm-dimmers",
        "type": "server-state-changed",
        "z": "tab-hm",
        "name": "dimmer presses",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_text.colm_bedroom_dimmer_helper_last_controller_event",
                "input_text.sitting_room_dimmer_helper_last_controller_event",
                "input_text.kitchen_dimmer_helper_last_controller_event",
                "input_text.office_dimmer_helper_last_controller_event"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "eid",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityId"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "dimmer",
                "valueType": "str"
            }
        ],
        "entityidfiltertype": "list",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "hm-engine"
            ]
        ]
    },
    {
        "id": "hm-tv",
        "type": "server-state-changed",
        "z": "tab-hm",
        "name": "tvs (level)",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.lg_tv_online",
                "binary_sensor.samsung_tv_online"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "eid",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityId"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "tv",
                "valueType": "str"
            }
        ],
        "entityidfiltertype": "list",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "hm-engine"
            ]
        ]
    },
    {
        "id": "hm-storm",
        "type": "server-state-changed",
        "z": "tab-hm",
        "name": "met eireann level",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.met_eireann_warning_level"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "eid",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityId"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "storm",
                "valueType": "str"
            }
        ],
        "entityidfiltertype": "list",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "hm-engine"
            ]
        ]
    },
    {
        "id": "hm-manual",
        "type": "server-state-changed",
        "z": "tab-hm",
        "name": "manual changes",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_select.house_mode",
                "input_boolean.storm_mode",
                "input_boolean.maintenance_mode"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "eid",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityId"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "manual",
                "valueType": "str"
            },
            {
                "property": "ent",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "entityidfiltertype": "list",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "hm-engine"
            ]
        ]
    },
    {
        "id": "hm-seed-inj",
        "type": "inject",
        "z": "tab-hm",
        "name": "seed on deploy",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "hm-cfg"
            ]
        ]
    },
    {
        "id": "hm-get",
        "type": "ha-get-entities",
        "z": "tab-hm",
        "name": "all entities",
        "server": "ha-server",
        "version": 3,
        "rules": [],
        "outputType": "array",
        "outputEmptyResults": true,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "output_type": "array",
        "output_empty_results": true,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 530,
        "y": 600,
        "wires": [
            [
                "hm-engine"
            ]
        ]
    },
    {
        "id": "hm-tick",
        "type": "inject",
        "z": "tab-hm",
        "name": "tick 2m",
        "props": [
            {
                "p": "topic",
                "v": "tick",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "tick",
        "x": 320,
        "y": 680,
        "wires": [
            [
                "hm-get"
            ]
        ]
    },
    {
        "id": "hm-engine",
        "type": "function",
        "z": "tab-hm",
        "name": "Mode engine",
        "func": "\nconst NR='32733c512f63453f895a569740484151';\nconst RESIDENTS=flow.get('residents')||[{person:'person.colm_finn',ping:'binary_sensor.colm_phone_home'},{person:'person.olivia_finn',ping:'binary_sensor.olivia_phone_home'}];\nconst GUESTS=flow.get('guests')||[{person:'person.daire_finn',ping:'binary_sensor.daire_phone_home'}];\nconst INDOOR=['binary_sensor.hallway_motion_sensor_occupancy','binary_sensor.landing_motion_sensor_occupancy','binary_sensor.sitting_room_presence_occupancy','binary_sensor.office_presence_occupancy'];\nconst AWAY_MS=20*60*1000, OCC_LOOKBACK=15*60*1000, SLEEP_MS=20*60*1000, MAINT_MS=4*3600*1000, HOLD_MS=4*3600*1000, WAKE_BLOCK_MS=2*3600*1000;\nconst WAKE_FROM=360;            // 06:00 in minutes\nconst NIGHT_LO=1320, NIGHT_HI=420; // 22:00 .. 07:00\nconst WATCH=['person.colm_finn','person.olivia_finn','person.daire_finn','binary_sensor.colm_phone_home','binary_sensor.olivia_phone_home','binary_sensor.daire_phone_home','binary_sensor.lg_tv_online','binary_sensor.samsung_tv_online','light.sitting_room','sensor.met_eireann_warning_level','input_select.house_mode','input_boolean.storm_mode','input_boolean.maintenance_mode'].concat(INDOOR);\nfunction nowMs(){return Date.now();}\nfunction dub(){return new Date().toLocaleString('en-IE',{timeZone:'Europe/Dublin',hour12:false});}\nfunction mins(){var d=new Date();return parseInt(d.toLocaleString('en-IE',{timeZone:'Europe/Dublin',hour:'2-digit',hour12:false}),10)*60+parseInt(d.toLocaleString('en-IE',{timeZone:'Europe/Dublin',minute:'2-digit'}),10);}\nvar st=flow.get('st')||{};\nfunction residentHome(){return RESIDENTS.some(function(r){return st[r.person]==='home'||st[r.ping]==='on';});}\nfunction guestHome(){return GUESTS.some(function(g){return st[g.person]==='home'||st[g.ping]==='on';});}\nfunction anyoneHome(){return residentHome()||guestHome();}\nfunction indoorAny(){return INDOOR.some(function(e){return st[e]==='on';});}\nfunction indoorRecent(){return (nowMs()-(flow.get('lastIndoorMotion')||0))<OCC_LOOKBACK;}\nfunction mode(){return flow.get('mode')||st['input_select.house_mode']||'Home';}\nfunction holdActive(){return (flow.get('manual_until')||0)>nowMs();}\nfunction clrAway(){var t=context.get('awayTimer');if(t){clearTimeout(t);context.set('awayTimer',null);}}\nfunction scheduleAway(delay){context.set('awayTimer',setTimeout(attemptAway,delay));}\nfunction attemptAway(){\n  context.set('awayTimer',null);\n  if(anyoneHome()||st['input_boolean.maintenance_mode']==='on'||holdActive()){return;}\n  if(indoorAny()||indoorRecent()){node.warn('[house-mode] away deferred: indoor motion - retry 20m');scheduleAway(AWAY_MS);return;}\n  if(mode()!=='Away') emitMode('Away','all residents left (20m)');\n}\nfunction nightWindow(){var m=mins(); return m>=NIGHT_LO || m<NIGHT_HI;}\nfunction quietLevel(){return st['binary_sensor.lg_tv_online']!=='on' && st['binary_sensor.samsung_tv_online']!=='on' && !indoorAny() && st['light.sitting_room']!=='on';}\nfunction emitMode(opt,reason){\n  if(mode()===opt)return;\n  flow.set('mode',opt); flow.set('last_auto',opt); st['input_select.house_mode']=opt; flow.set('st',st);\n  node.send([{entity:'input_select.house_mode',option:opt},null,null,{payload:'House mode → '+opt+'  ('+reason+')'},{payload:dub()+'  MODE '+opt+'  ('+reason+')\\n'},{payload:reason}]);\n}\nfunction emitOverlay(id,on,reason){\n  var ent='input_boolean.'+id; if((st[ent]==='on')===on)return;\n  st[ent]=on?'on':'off'; flow.set('st',st);\n  node.send([null, on?{entity:ent}:null, on?null:{entity:ent}, {payload:(on?'Overlay ON: ':'Overlay OFF: ')+id+'  ('+reason+')'}, {payload:dub()+'  OVERLAY '+id+'='+(on?'on':'off')+'  ('+reason+')\\n'}, null]);\n}\nfunction evaluate(){\n  var warn=(st['sensor.met_eireann_warning_level']||'none').toString().toLowerCase();\n  emitOverlay('storm_mode',(warn==='orange'||warn==='red'),'Met Éireann '+warn);\n  if(st['input_boolean.maintenance_mode']==='on'){var ms=flow.get('maint_since'); if(ms&&nowMs()-ms>MAINT_MS) emitOverlay('maintenance_mode',false,'4h auto-expire');}\n  if(st['input_boolean.maintenance_mode']==='on'){ clrAway(); if(mode()==='Away') emitMode('Home','maintenance active'); return; }\n  if(holdActive()){clrAway();return;}\n  var m=mode(); if(m==='Sleeping')return;\n  if(!anyoneHome()){\n    if(!context.get('awayTimer')) scheduleAway(AWAY_MS);\n    return;\n  }\n  clrAway();\n  if(m==='Away'){ emitMode('Home','resident returned'); return; }\n  var la=flow.get('last_activity'); if(la===undefined){flow.set('last_activity',nowMs()); la=nowMs();}\n  if(m==='Home' && residentHome() && nightWindow() && quietLevel() && (nowMs()-la>=SLEEP_MS) && nowMs()>(flow.get('sleep_block_until')||0)){\n    emitMode('Sleeping','quiet 20m, no activity (22:00–07:00)');\n  }\n}\nvar T=msg.topic;\n// seed from ha-get-entities (array)\nif(Array.isArray(msg.payload)){\n  var want={}; WATCH.forEach(function(w){want[w]=1;});\n  msg.payload.forEach(function(e){ if(e&&e.entity_id&&want[e.entity_id]) st[e.entity_id]=e.state; });\n  if(INDOOR.some(function(e){return st[e]==='on';})) flow.set('lastIndoorMotion',nowMs());\n  flow.set('st',st);\n  if(T==='presence'){\n    var indoorFired=INDOOR.indexOf(msg.eid)>=0&&st[msg.eid]==='on';\n    if(indoorFired){ flow.set('last_activity',nowMs()); flow.set('lastIndoorMotion',nowMs()); if(mode()==='Sleeping'&&mins()>=WAKE_FROM){flow.set('sleep_block_until',nowMs()+WAKE_BLOCK_MS);emitMode('Home','morning activity ('+(msg.eid||T)+')');} }\n  } else if(T!=='tick'){ flow.set('mode', st['input_select.house_mode']||flow.get('mode')||'Home'); flow.set('last_activity',nowMs()); }\n  evaluate(); return null;\n}\nif(msg.eid && !Array.isArray(msg.payload)){ st[msg.eid]=msg.payload; flow.set('st',st); }\n// activity = any light change, any dimmer press, or an indoor sensor turning on\nvar act=(T==='lights')||(T==='tv')||(T==='dimmer');\nif(act){\n  flow.set('last_activity',nowMs());\n  if(mode()==='Sleeping' && mins()>=WAKE_FROM){ flow.set('sleep_block_until',nowMs()+WAKE_BLOCK_MS); emitMode('Home','morning activity ('+(msg.eid||T)+')'); }\n}\nif(T==='tick'){ evaluate(); return null; }\nif(T==='manual'){\n  var uid=(msg.ent&&msg.ent.context&&msg.ent.context.user_id)||null;\n  if(uid===NR) return null;\n  if(msg.eid==='input_select.house_mode'){ flow.set('mode',msg.payload); flow.set('manual_until',nowMs()+HOLD_MS); node.send([null,null,null,null,{payload:dub()+'  MANUAL house_mode='+msg.payload+' (hold 4h)\\n'},{payload:'changed by hand'}]); }\n  else if(msg.eid==='input_boolean.maintenance_mode'){ flow.set('maint_since', msg.payload==='on'?nowMs():null); }\n  return null;\n}\nevaluate();\nreturn null;\n",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 360,
        "wires": [
            [
                "hm-set-mode"
            ],
            [
                "hm-overlay-on"
            ],
            [
                "hm-overlay-off"
            ],
            [
                "hm-notify"
            ],
            [
                "hm-logfile"
            ],
            [
                "hm-reason"
            ]
        ]
    },
    {
        "id": "hm-set-mode",
        "type": "api-call-service",
        "z": "tab-hm",
        "name": "set house_mode",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "input_select.select_option",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"entity_id\": msg.entity, \"option\": msg.option}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1220,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "hm-overlay-on",
        "type": "api-call-service",
        "z": "tab-hm",
        "name": "overlay turn_on",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "input_boolean.turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"entity_id\": msg.entity}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1220,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "hm-overlay-off",
        "type": "api-call-service",
        "z": "tab-hm",
        "name": "overlay turn_off",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "input_boolean.turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"entity_id\": msg.entity}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1220,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "hm-notify",
        "type": "api-call-service",
        "z": "tab-hm",
        "name": "notify Colm",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "notify.mobile_app_np3",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\": \"🏠 House Mode\", \"message\": msg.payload, \"data\": {\"notification_icon\": \"mdi:home-account\"}}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1210,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "hm-logfile",
        "type": "file",
        "z": "tab-hm",
        "name": "house_mode log",
        "filename": "/data/house_mode.log",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1210,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "hm-cfg",
        "type": "function",
        "z": "tab-hm",
        "name": "people config",
        "func": "flow.set('residents',[\n  {person:'person.colm_finn',   ping:'binary_sensor.colm_phone_home'},\n  {person:'person.olivia_finn', ping:'binary_sensor.olivia_phone_home'},\n  // add when Cian has a phone: {person:'person.cian_finn', ping:'binary_sensor.cian_phone_home'},\n]);\nflow.set('guests',[\n  {person:'person.daire_finn', ping:'binary_sensor.daire_phone_home'},\n]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 600,
        "wires": [
            [
                "hm-get"
            ]
        ]
    },
    {
        "id": "hm-pres-get",
        "type": "ha-get-entities",
        "z": "tab-hm",
        "name": "presence entities",
        "server": "ha-server",
        "version": 3,
        "rules": [],
        "outputType": "array",
        "outputEmptyResults": true,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "hm-engine"
            ]
        ]
    },
    {
        "id": "hm-reason",
        "type": "api-call-service",
        "z": "tab-hm",
        "name": "write house_mode reason",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "input_text.set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_text.house_mode_reason"
        ],
        "data": "{\"value\": msg.payload}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1230,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "cam-patio",
        "type": "server-state-changed",
        "z": "tab-cam",
        "name": "patio_door_open",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_boolean.patio_door_open"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityId"
            }
        ],
        "entityidfiltertype": "list",
        "x": 140,
        "y": 920,
        "wires": [
            [
                "cam-patio-set"
            ]
        ]
    },
    {
        "id": "cam-patio-set",
        "type": "function",
        "z": "tab-cam",
        "name": "store patio state",
        "func": "flow.set('patio_open', msg.payload === 'on');\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "cam-mqtt-reviews",
        "type": "mqtt in",
        "z": "tab-cam",
        "name": "frigate/reviews",
        "topic": "frigate/reviews",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-frigate",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 400,
        "wires": [
            [
                "cam-fn-review",
                "cam-car-fn"
            ]
        ]
    },
    {
        "id": "cam-fn-review",
        "type": "function",
        "z": "tab-cam",
        "name": "Parse review",
        "func": "const r=msg.payload; if(!r) return null;\nconst a=r.after||{}; if(a.severity!=='alert') return null;\nconst cam=a.camera||'';\nif((cam==='Rear_Door'||cam==='Rear_Shed') && flow.get('patio_open')) return null;\nconst objs=([...new Set(((a.data&&a.data.objects)||[]).map(o=>o.replace(/-verified$/,'')))]);\nconst det=(a.data&&a.data.detections)||[];\nconst label=objs.length?objs.join(', '):'Motion';\nconst cl=label.charAt(0).toUpperCase()+label.slice(1);\nconst names={Front_Car:'Front Car',Front_Van:'Front Van',Rear_Door:'Rear Door',Rear_Shed:'Rear Shed',Doorbell:'Doorbell'};\nconst camName=names[cam]||cam;\nconst subs=(a.data&&a.data.sub_labels)||[]; const personName=((objs.indexOf('person')!==-1)&&subs.length&&subs[0])?subs[0]:null;\nconst NB=env.get('NABU_URL');\nconst rid=a.id; const rkey='rev_'+String(rid).split('.').join('_');\nconst gif=NB+'/api/frigate/notifications/'+rid+'/review_preview.gif';\nconst snap=det.length?(NB+'/api/frigate/notifications/'+det[0]+'/snapshot.jpg?bbox=1'):null;\nconst clip=det.length?(NB+'/api/frigate/notifications/'+det[0]+'/'+cam+'/clip.mp4'):null;\nconst tm=new Date((a.start_time||Date.now()/1000)*1000).toLocaleTimeString('en-IE',{timeZone:'Europe/Dublin',hour:'2-digit',minute:'2-digit'});\nconst type=r.type;\nconst GMAP={Front_Car:'front',Front_Van:'front',Doorbell:'doorbell',Rear_Door:'rear',Rear_Shed:'rear'};\nconst GLABEL={front:'Front',doorbell:'Doorbell',rear:'Rear'};\nconst PRIO={Front_Car:1,Front_Van:2,Doorbell:1,Rear_Door:1,Rear_Shed:2};\nconst KLABEL={person:'Person',car:'Vehicle',motorcycle:'Motorcycle',bicycle:'Bicycle',package:'Package',umbrella:'Umbrella'};\nfunction ohas(l){return objs.indexOf(l)!==-1;}\nlet kind=null;\nif(ohas('person')) kind='person'; else if(ohas('car')||ohas('truck')) kind='car'; else if(ohas('motorcycle')) kind='motorcycle'; else if(ohas('bicycle')) kind='bicycle'; else if(ohas('package')) kind='package'; else if(ohas('umbrella')) kind='umbrella';\nconst kindLabel=kind?KLABEL[kind]:'';\nconst group=GMAP[cam]||null;\nconst WINDOW=120000;\nif(kind && group){\n  const gl=GLABEL[group]; const gkey='grp_'+group+'_'+kind;\n  if(type==='new'||type==='update'){\n    let grp=flow.get(gkey);\n    const newInc=(!grp||(Date.now()-grp.lastAt)>WINDOW);\n    if(newInc) grp={tag:'frig_'+group+'_'+kind+'_'+rid,cams:[],snap:null,snapCam:null,gif:null,gifCam:null,clip:null,lastAt:0,firstCam:cam};\n    const had=grp.cams.indexOf(camName)!==-1;\n    if(!had) grp.cams.push(camName);\n    if(!grp.firstCam) grp.firstCam=cam;\n    if(snap && cam===grp.firstCam){ grp.snap=snap; grp.snapCam=cam; if(clip) grp.clip=clip; }\n    grp.lastAt=Date.now(); flow.set(gkey,grp); flow.set(rkey,{gkey:gkey,tag:grp.tag});\n    let door=null;\n    if(cam==='Doorbell'&&kind==='person'&&!had) door={camName:camName,gif:gif,snap:snap,tag:grp.tag,_src:'doorbell'};\n    const titl='\\ud83d\\udcf7 '+(personName||kindLabel)+' \\u2014 '+gl; const body=grp.cams.join(', ')+' at '+tm; const msgs=[];\n    if(newInc){\n      msgs.push({_src:'push-grp',title:titl,message:body,ndata:{tag:grp.tag,channel:'Cameras'}});\n      if(grp.snap){ const nd={tag:grp.tag,channel:'Cameras',image:grp.snap}; if(grp.clip){nd.clickAction=grp.clip;nd.url=grp.clip;} msgs.push({_src:'push-grp-snap',title:titl,message:body,ndata:nd}); }\n    } else if(!had){\n      const nd={tag:grp.tag,channel:'Cameras'}; const img=grp.gif||grp.snap; if(img) nd.image=img; if(grp.clip){nd.clickAction=grp.clip;nd.url=grp.clip;}\n      msgs.push({_src:'push-grp',title:titl,message:body,ndata:nd});\n    }\n    return [msgs.length?msgs:null, door];\n  }\n  if(type==='end'){\n    const meta=flow.get(rkey); flow.set(rkey,undefined);\n    if(!meta||!meta.gkey) return null;\n    let grp=flow.get(meta.gkey);\n    if(!grp||grp.tag!==meta.tag) return null;\n    const prio=PRIO[cam]||99; const cur=grp.gifCam?(PRIO[grp.gifCam]||99):999;\n    if(cam!==grp.firstCam || grp.gifCam) return null;\n    grp.gif=gif; grp.gifCam=cam; if(clip) grp.clip=clip; flow.set(meta.gkey,grp);\n    const parts=meta.gkey.split('_'); const gl2=GLABEL[parts[1]]; const kl2=KLABEL[parts[2]]||parts[2];\n    const nd={tag:grp.tag,image:grp.gif,channel:'Cameras'}; if(grp.clip){nd.clickAction=grp.clip;nd.url=grp.clip;}\n    return [{_src:'push-grp-gif:'+cam,title:'\\ud83d\\udcf7 '+(personName||kl2)+' \\u2014 '+gl2,message:grp.cams.join(', '),ndata:nd},null];\n  }\n  return null;\n}\nif(type==='new'||type==='update'){\n  if(flow.get(rkey)) return null;\n  if(Date.now()-(flow.get('push_'+label)||0)<60000){ flow.set(rkey,'skip'); return null; }\n  flow.set('push_'+label,Date.now()); flow.set(rkey,'sent');\n  const titl=cl+' detected \\u2014 '+camName; const body=cl+' detected - '+camName+' at '+tm;\n  const msgs=[{_src:'push-instant',title:titl,message:body,ndata:{tag:'frigate_'+rid,channel:'Cameras'}}];\n  if(snap){ const nd={tag:'frigate_'+rid,channel:'Cameras',image:snap}; if(clip){nd.clickAction=clip;nd.url=clip;} msgs.push({_src:'push-snap',title:titl,message:body,ndata:nd}); }\n  return [msgs,null];\n}\nif(type==='end'){\n  const st=flow.get(rkey); flow.set(rkey,undefined);\n  if(st!=='sent') return null;\n  const nd={tag:'frigate_'+rid,image:gif,channel:'Cameras'}; if(clip){nd.clickAction=clip;nd.url=clip;}\n  return [{_src:'push-gif',title:cl+' \\u2014 '+camName,message:cl+' at '+camName+' ('+tm+')',ndata:nd},null];\n}\nreturn null;\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 300,
        "wires": [
            [
                "cam-away-boost"
            ],
            [
                "cam-door-delay",
                "cam-log"
            ]
        ]
    },
    {
        "id": "cam-notify-np3",
        "type": "api-call-service",
        "z": "tab-cam",
        "name": "Push Colm (np3)",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "notify.mobile_app_np3",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\": msg.title, \"message\": msg.message, \"data\": $merge([msg.ndata ? msg.ndata : {}, {\"notification_icon\": \"mdi:cctv\"}])}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1130,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "cam-notify-olivia",
        "type": "api-call-service",
        "z": "tab-cam",
        "name": "Push Olivia (pixel_6a)",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "notify.mobile_app_pixel_6a",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\": msg.title, \"message\": msg.message, \"data\": $merge([msg.ndata ? msg.ndata : {}, {\"notification_icon\": \"mdi:cctv\"}])}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1140,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "cam-snapshot",
        "type": "api-call-service",
        "z": "tab-cam",
        "name": "Doorbell snapshot",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "camera.snapshot",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "camera.doorbell"
        ],
        "data": "{\"filename\": \"/config/www/doorbell_snapshot.jpg\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 830,
        "y": 580,
        "wires": [
            [
                "cam-cast"
            ]
        ]
    },
    {
        "id": "cam-cast",
        "type": "api-call-service",
        "z": "tab-cam",
        "name": "Cast to kitchen display",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "media_player.play_media",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.kitchen_display_cast"
        ],
        "data": "{\"media_content_id\": url & \"&_t=\" & $string($floor($millis()/1000)), \"media_content_type\": \"image/jpeg\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1220,
        "y": 540,
        "wires": [
            [
                "cam-cast-delay"
            ]
        ]
    },
    {
        "id": "cam-cast-delay",
        "type": "delay",
        "z": "tab-cam",
        "name": "20s",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1270,
        "y": 660,
        "wires": [
            [
                "cam-cast-off"
            ]
        ]
    },
    {
        "id": "cam-cast-off",
        "type": "api-call-service",
        "z": "tab-cam",
        "name": "Display off",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "media_player.turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "media_player.kitchen_display_cast"
        ],
        "data": "{}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1390,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "cam-shield",
        "type": "api-call-service",
        "z": "tab-cam",
        "name": "Shield TV overlay",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "notify.nvidia_shield",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\": who & \" at the front door\", \"data\": {\"duration\": \"20\", \"position\": \"top-right\", \"image\": image}}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1130,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "cam-courier-trg",
        "type": "server-state-changed",
        "z": "tab-cam",
        "name": "courier counts",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.front_car_dpd_count",
                "sensor.front_car_gls_count",
                "sensor.front_car_amazon_count",
                "sensor.front_car_ups_count",
                "sensor.front_car_fedex_count",
                "sensor.front_car_dhl_count",
                "sensor.front_car_an_post_count",
                "sensor.front_van_dpd_count",
                "sensor.front_van_gls_count",
                "sensor.front_van_amazon_count",
                "sensor.front_van_ups_count",
                "sensor.front_van_fedex_count",
                "sensor.front_van_dhl_count",
                "sensor.front_van_an_post_count"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityId"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "entityidfiltertype": "list",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "cam-fn-courier"
            ]
        ]
    },
    {
        "id": "cam-fn-courier",
        "type": "function",
        "z": "tab-cam",
        "name": "Courier (rising+dedupe)",
        "func": "if (flow.get('house_mode') === 'Sleeping') return null;\nconst newv = Number(msg.payload);\nif (!(newv > 0)) return null;\n// entityId valueType is flaky on this palette version (came through empty on a\n// real An Post detection 17-06-2026 -> blank \" has landed\"). Prefer eventData.\nconst eid = (msg.data && (msg.data.entity_id || (msg.data.new_state && msg.data.new_state.entity_id))) || msg.topic || '';\nconst key = eid.replace('sensor.front_car_','').replace('sensor.front_van_','').replace('_count','');\nconst names = {dpd:'DPD', gls:'GLS', amazon:'Amazon', ups:'UPS', fedex:'FedEx', dhl:'DHL', an_post:'On Fwuisht'};\nconst name = names[key];\nif (!name) { node.warn('courier: unresolved entity_id \"' + eid + '\" topic \"' + (msg.topic || '') + '\" - no announcement'); return null; }\nconst now = Date.now();\nif (now - (flow.get('cour_' + key) || 0) < 300000) return null;\nflow.set('cour_' + key, now);\nif (now - (flow.get('delivery_tts') || 0) < 120000) return null;\nflow.set('delivery_tts', now);\nmsg._src = 'courier'; msg.message = name + ' has landed.';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 40,
        "wires": [
            [
                "cam-delay-courier",
                "cam-log"
            ]
        ]
    },
    {
        "id": "cam-tts-courier",
        "type": "api-call-service",
        "z": "tab-cam",
        "name": "TTS courier",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "script.tts_announce",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\": msg.message}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1170,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "cam-postman-trg",
        "type": "server-state-changed",
        "z": "tab-cam",
        "name": "postman last camera",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.frigate_postman_last_camera"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "Doorbell",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityId"
            }
        ],
        "entityidfiltertype": "list",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "cam-fn-postman"
            ]
        ]
    },
    {
        "id": "cam-fn-postman",
        "type": "function",
        "z": "tab-cam",
        "name": "Postman (dedupe)",
        "func": "if (flow.get('house_mode') === 'Sleeping') return null;\nconst now = Date.now();\nif (now - (flow.get('postman') || 0) < 300000) return null;\nflow.set('postman', now);\nif (now - (flow.get('delivery_tts') || 0) < 120000) return null;\nflow.set('delivery_tts', now);\nmsg._src = 'postman'; msg.message = 'The postman has been detected. You have post or a package.';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 100,
        "wires": [
            [
                "cam-delay-postman",
                "cam-log"
            ]
        ]
    },
    {
        "id": "cam-tts-postman",
        "type": "api-call-service",
        "z": "tab-cam",
        "name": "TTS postman",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "script.tts_announce",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\": msg.message}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1180,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "cam-log",
        "type": "function",
        "z": "tab-cam",
        "name": "log line",
        "func": "const ts = new Date().toLocaleString('en-IE',{timeZone:'Europe/Dublin',hour12:false});\nlet src = msg._src || 'event';\nlet what = msg.title || msg.message || ('doorbell ' + (msg.camName||''));\nmsg.payload = ts + '  [' + src + ']  ' + what + '\\n';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 200,
        "wires": [
            [
                "cam-logfile"
            ]
        ]
    },
    {
        "id": "cam-logfile",
        "type": "file",
        "z": "tab-cam",
        "name": "concierge log",
        "filename": "/data/camera_concierge.log",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1070,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "cam-door-delay",
        "type": "delay",
        "z": "tab-cam",
        "name": "2s (img+face ready)",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 440,
        "wires": [
            [
                "cam-door-get"
            ]
        ]
    },
    {
        "id": "cam-door-get",
        "type": "ha-get-entities",
        "z": "tab-cam",
        "name": "states",
        "server": "ha-server",
        "version": 3,
        "rules": [],
        "outputType": "array",
        "outputEmptyResults": true,
        "outputLocationType": "msg",
        "outputLocation": "entities",
        "outputResultsCount": 1,
        "output_type": "array",
        "output_empty_results": true,
        "output_location_type": "msg",
        "output_location": "entities",
        "output_results_count": 1,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "cam-door-fn"
            ]
        ]
    },
    {
        "id": "cam-door-fn",
        "type": "function",
        "z": "tab-cam",
        "name": "doorbell name/img",
        "func": "const ents=Array.isArray(msg.entities)?msg.entities:[];\nconst S=id=>{const e=ents.find(x=>x.entity_id===id);return e&&e.state;};\nconst f=S('sensor.doorbell_last_recognized_face');\nconst bad=['none','unknown','clear','unavailable',''];\nconst name=(f&&bad.indexOf(String(f).toLowerCase())===-1)?f:null;\nconst who=name||'Person';\nconst snap=msg.snap||null;\nconst tag=msg.tag;\nnode.warn('[cam] doorbell person: '+who+(snap?'':' (no snap)'));\nconst shield={who:who,image:snap};\nconst cast=snap?{url:snap}:null;\nconst phone=name?{title:'👤 '+name+' at the doorbell',message:'Doorbell',ndata:{tag:tag,channel:'Cameras',image:snap}}:null;\nreturn [shield,cast,phone];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 440,
        "wires": [
            [
                "cam-shield"
            ],
            [
                "cam-cast"
            ],
            [
                "cam-notify-np3",
                "cam-notify-olivia"
            ]
        ]
    },
    {
        "id": "cam-car-fn",
        "type": "function",
        "z": "tab-cam",
        "name": "Car deterrent (overnight)",
        "func": "const r=msg.payload; if(!r) return null;\nconst a=r.after||{};\nif(a.severity!=='alert') return null;\nif(r.type!=='new' && r.type!=='update') return null;\nconst cam=a.camera||'';\nif(cam!=='Front_Car' && cam!=='Front_Van') return null;\nconst objs=[...new Set(((a.data&&a.data.objects)||[]).map(o=>o.replace(/-verified$/,'')))]; \nif(objs.indexOf('person')===-1) return null;\nconst zones=((a.data&&a.data.zones)||[]).map(z=>String(z).toLowerCase());\nif(zones.indexOf('182_focus_zone')===-1 && zones.indexOf('162_focus_zone')===-1) return null;\n// fire when house is Sleeping (replaces fixed 23:00-06:30 window)\nif(flow.get('house_mode') !== 'Sleeping') return null;\n// cooldown 120s (strobe runs ~30s)\nconst last=flow.get('car_last')||0;\nif(Date.now()-last < 120000) return null;\nflow.set('car_last', Date.now());\nconst now=new Date();\nconst ts=now.toLocaleString('en-IE',{timeZone:'Europe/Dublin',hour12:false});\nconst line={payload:ts+'  [car-deterrent] person in focus zone - '+cam+'\\n'};\nnode.send([{}, {}, line]);\nreturn null;\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 680,
        "wires": [
            [
                "cam-car-strobe"
            ],
            [
                "cam-car-tts",
                "cam-car-tts-sitting"
            ],
            [
                "cam-logfile"
            ]
        ]
    },
    {
        "id": "cam-car-strobe",
        "type": "api-call-service",
        "z": "tab-cam",
        "name": "Strobe sitting+hallway",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "script.strobe_lights",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"lights\":[\"light.sitting_room\",\"light.hallway\"],\"count\":10,\"on_seconds\":1.5,\"off_seconds\":1.5}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 900,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "cam-car-tts",
        "type": "api-call-service",
        "z": "tab-cam",
        "name": "TTS bedroom",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "script.tts_announce",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Person detected on front camera at car\",\"target_player\":\"media_player.colm_bedroom_speaker_cast\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 880,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "cam-car-tts-sitting",
        "type": "api-call-service",
        "z": "tab-cam",
        "name": "TTS sitting room",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "script.tts_announce",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\":\"Person detected on front camera at car\",\"target_player\":\"media_player.sitting_room_speaker_cast\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 880,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "cam-hm-watcher",
        "type": "server-state-changed",
        "z": "tab-cam",
        "name": "house_mode",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_select.house_mode"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "entityidfiltertype": "list",
        "x": 140,
        "y": 820,
        "wires": [
            [
                "cam-hm-fn"
            ]
        ]
    },
    {
        "id": "cam-hm-fn",
        "type": "function",
        "z": "tab-cam",
        "name": "store house_mode",
        "func": "const ev = msg.payload || {};\nconst mode = ev.new_state ? ev.new_state.state : '';\nif (mode) flow.set('house_mode', mode);\nnode.warn('[cam-concierge] house_mode: ' + mode);\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "cam-hm-init",
        "type": "inject",
        "z": "tab-cam",
        "name": "startup (2s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": 2,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1020,
        "wires": [
            [
                "cam-hm-init-get"
            ]
        ]
    },
    {
        "id": "cam-hm-init-get",
        "type": "ha-get-entities",
        "z": "tab-cam",
        "name": "get house_mode",
        "server": "ha-server",
        "version": 3,
        "rules": [
            {
                "property": "entity_id",
                "logic": "is",
                "value": "input_select.house_mode",
                "valueType": "str"
            }
        ],
        "outputType": "array",
        "outputEmptyResults": true,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 390,
        "y": 1020,
        "wires": [
            [
                "cam-hm-startup-fn"
            ]
        ]
    },
    {
        "id": "cam-hm-startup-fn",
        "type": "function",
        "z": "tab-cam",
        "name": "seed house_mode",
        "func": "const ents = Array.isArray(msg.payload) ? msg.payload : [];\nconst hm = ents.find(x => x.entity_id === 'input_select.house_mode');\nconst mode = hm ? hm.state : 'Home';\n// This seed re-runs every 120s to self-heal a missed state change, so warning on\n// every pass wrote ~720 lines a day of pure noise -- which buries the warnings that\n// actually mean something. Say it only when the value CHANGES (incl. the first seed).\nconst prev = flow.get('house_mode');\nflow.set('house_mode', mode);\nif (mode !== prev) node.warn('[cam-concierge] house_mode seeded: ' + mode);\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "cam-away-boost",
        "type": "function",
        "z": "tab-cam",
        "name": "away priority boost",
        "func": "if(flow.get('house_mode')==='Away'){\n  msg.ndata=msg.ndata||{};\n  msg.ndata.ttl=0;\n  msg.ndata.priority='high';\n  msg.ndata.channel='Cameras Away';\n  msg.ndata.importance='high';\n  if(msg.title&&msg.title.indexOf('\\u26a0')!==0)msg.title='\\u26a0\\ufe0f '+msg.title;\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 300,
        "wires": [
            [
                "cam-notify-np3",
                "cam-notify-olivia",
                "cam-log"
            ]
        ]
    },
    {
        "id": "cam-delay-postman",
        "type": "delay",
        "z": "tab-cam",
        "name": "queue behind doorbell popup (26s)",
        "pauseType": "delay",
        "timeout": "26",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 120,
        "wires": [
            [
                "cam-tts-postman"
            ]
        ]
    },
    {
        "id": "cam-delay-courier",
        "type": "delay",
        "z": "tab-cam",
        "name": "queue behind doorbell popup (26s)",
        "pauseType": "delay",
        "timeout": "26",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 820,
        "y": 60,
        "wires": [
            [
                "cam-tts-courier"
            ]
        ]
    },
    {
        "id": "heat-tick",
        "type": "inject",
        "z": "5a86c1a3371ffe9e",
        "name": "boot seed + 60s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 8,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "heat-get"
            ]
        ]
    },
    {
        "id": "heat-presence",
        "type": "server-state-changed",
        "z": "5a86c1a3371ffe9e",
        "name": "house_mode change",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_select.house_mode"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "entityidfiltertype": "list",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "heat-get"
            ]
        ]
    },
    {
        "id": "heat-get",
        "type": "ha-get-entities",
        "z": "5a86c1a3371ffe9e",
        "name": "all entities",
        "server": "ha-server",
        "version": 3,
        "rules": [],
        "outputType": "array",
        "outputEmptyResults": true,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "output_type": "array",
        "output_empty_results": true,
        "output_location_type": "msg",
        "output_location": "payload",
        "output_results_count": 1,
        "x": 380,
        "y": 150,
        "wires": [
            [
                "heat-fn"
            ]
        ]
    },
    {
        "id": "heat-fn",
        "type": "function",
        "z": "5a86c1a3371ffe9e",
        "name": "heating controller",
        "func": "// === Heating controller — House Mode + time + 2h BOOST + forecast pre-heat (02-07-2026; dash boost 04-07-2026) ===\n// Netatmo holds flat eco 19 baseline; this flow only RAISES via HomeKit set_temperature.\n// Out1 -> set thermostat; Out2 -> test notify (change only, quiet 22:00-07:00); Out3 -> input_text.heating_status + heating_status_by (the badge WHO, ha-config #38).\nconst TEMP = { eco: 19, comfort: 20, night: 19.5, hot: 20.5, frost: 12 };\nconst BOOST_MS = 2 * 60 * 60 * 1000;   // manual override holds 2 hours\nconst MORNING_HOUR = 7;                // morning comfort warm-up starts 07:00 (base; forecast can bring earlier)\nconst PROX_M = 10000;                  // proximity pre-heat: within 10 km AND heading towards home -> comfort\n// WHO pressed the dashboard boost/cancel button: the watcher nodes attach the button\n// entity (with its service-call context) as msg.byEvent -- heat-get only replaces\n// msg.payload, so it survives. Unknown/absent user -> 'hand' (same as the dial).\nconst BY_USERS = {\n  'da11950c94184bf281a21b4b1a06cdb7': 'Colm',\n  'bfe92889b07b4798901d5d48a789262f': 'Olivia',\n  '5aa07e1f90c44da2aab995628305cb52': 'Cian',\n  '848fa8f992bb47d6a23f498d73717814': 'Daire'\n};\nconst pressBy = (() => {\n  const uid = msg.byEvent && msg.byEvent.context && msg.byEvent.context.user_id;\n  return (uid && BY_USERS[uid]) || 'hand';\n})();\n\nconst ents = Array.isArray(msg.payload) ? msg.payload : [];\nconst get = id => ents.find(e => e.entity_id === id);\nconst ds = d => d.getFullYear() + '-' + String(d.getMonth() + 1).padStart(2, '0') + '-' + String(d.getDate()).padStart(2, '0');\n\n// Guest mode: ONLY block Away (never let the house go cold with guests in);\n// Sleeping and Home run as normal (overnight 19.5, 7am warm-up, forecast pre-heat all still apply).\nconst guestOn = (() => { const g = get('input_boolean.guest_mode'); return g ? g.state === 'on' : false; })();\nconst hmRaw = (get('input_select.house_mode') || {}).state || 'Home';\nconst hm = (guestOn && hmRaw === 'Away') ? 'Home' : hmRaw;\nconst hmDisplay = guestOn ? hm + ' (guest)' : hm;\nconst mode = String(hm).toLowerCase();\n\n// Extended-away 24h deep setback (helper defaults ON if absent)\nconst extToggle = get('input_boolean.heating_extended_away');\nconst extendedAwayEnabled = extToggle ? (extToggle.state === 'on') : true;\nconst EMPTY_LIMIT_MS = 24 * 60 * 60 * 1000;\nlet emptySince = context.get('emptySince');\nif (mode === 'away') { if (!emptySince) emptySince = Date.now(); } else emptySince = null;\ncontext.set('emptySince', emptySince);\nconst longAway = !!emptySince && (Date.now() - emptySince) >= EMPTY_LIMIT_MS;\n\nconst now = new Date();\nconst nowMs = Date.now();\nconst mins = now.getHours() * 60 + now.getMinutes();\nconst hour = now.getHours();\nconst between = (m, sH, sM, eH, eM) => m >= sH * 60 + sM && m < eH * 60 + eM;\nconst hhmm = ms => { const d = new Date(ms); return String(d.getHours()).padStart(2, '0') + ':' + String(d.getMinutes()).padStart(2, '0'); };\n\n// --- scheduled target ---\nlet schedMode;\nif (mode !== 'away') flow.set('preheat_latch', false);   // any exit from Away clears the pre-heat latch\nif (mode === 'away') {\n  // Proximity pre-heat: within 10 km AND heading towards home -> warm for arrival.\n  // LATCHED: GPS direction flaps towards/stationary between fixes (glitch seen 05-07-2026:\n  // setpoint bounced 20 -> 18.5 -> 20 mid-approach). Once on, pre-heat holds for the rest of\n  // Away unless the person clearly leaves again (beyond PROX_CLEAR_M or distance unknown).\n  const PROX_CLEAR_M = 12000;\n  const pDist = parseFloat((get('sensor.12_the_oaks_nearest_distance') || {}).state);\n  const pDir = (get('sensor.12_the_oaks_nearest_direction_of_travel') || {}).state;\n  let preheat = flow.get('preheat_latch') || false;\n  if (!isNaN(pDist) && pDist <= PROX_M && pDir === 'towards') preheat = true;\n  if (isNaN(pDist) || pDist > PROX_CLEAR_M) preheat = false;\n  flow.set('preheat_latch', preheat);\n  schedMode = preheat ? 'comfort' : ((longAway && extendedAwayEnabled) ? 'frost' : 'eco');\n} else if (mode === 'sleeping') {\n  let sm = (hour >= MORNING_HOUR && hour < 12) ? 'comfort' : 'night';\n  // Forecast pre-heat: bring the morning comfort forward on cold mornings (set nightly by the fc sub-flow)\n  const ph = flow.get('preHeat');\n  if (ph && ph.day === ds(now) && nowMs >= ph.startMs && hour < MORNING_HOUR) sm = 'comfort';\n  schedMode = sm;\n} else {\n  schedMode = between(mins, 19, 0, 22, 0) ? 'hot' : 'comfort';\n}\nconst schedTarget = TEMP[schedMode];\n\n// --- manual boost detection (confirmed-setpoint method; immune to poll lag) ---\n// A confirmed external setpoint change ABOVE the scheduled target = 2h boost.\n// A change AT or BELOW the scheduled target (dial turned down / Netatmo app boost deleted ->\n// device reverts to its 19 baseline) = CANCEL any boost; the schedule reasserts. Never a \"boost down\".\nconst climate = get('climate.netatmo_smart_thermostat');\nconst curSet = climate && climate.attributes ? climate.attributes.temperature : null;\nconst lastTarget = context.get('lastTarget');\nlet confirmed = context.get('confirmed') || false;\nlet boostUntil = context.get('boostUntil') || 0;\nlet boostTemp = context.get('boostTemp');\nlet boostNote = null; // overrides the notify text for boost cancel/decline\n\nif (curSet != null && lastTarget != null && curSet === lastTarget) confirmed = true;\nif (mode !== 'away' && confirmed && curSet != null && lastTarget != null && curSet !== lastTarget\n    && !(boostUntil > nowMs && curSet === boostTemp)) {\n  if (curSet > schedTarget) {\n    boostTemp = curSet;\n    boostUntil = nowMs + BOOST_MS;       // start / restart the 2h hold (dial path; gated to occupied modes)\n    context.set('boostBy', 'hand');      // dial: no user context exists -> person unknown\n  } else if (boostUntil > nowMs) {\n    boostUntil = 0; boostTemp = null;    // turned down to/below schedule -> cancel boost\n    context.set('cancelBy', 'hand');\n    boostNote = 'Boost cancelled - back to schedule';\n  }\n  context.set('boostTemp', boostTemp);\n  context.set('boostUntil', boostUntil);\n}\ncontext.set('confirmed', confirmed);\n\n// --- dashboard boost commands (input_buttons via msg.topic) ---\nif (msg.topic === 'boost-start') {\n  const bt = parseFloat((get('input_number.heating_boost_temperature') || {}).state);\n  if (!isNaN(bt)) {\n    boostTemp = bt;\n    boostUntil = nowMs + BOOST_MS;\n    context.set('boostTemp', boostTemp);\n    context.set('boostUntil', boostUntil);\n    context.set('boostBy', pressBy);\n    if (mode === 'away') context.set('awayBoost', true);   // deliberate pre-warm before returning (#30)\n  }\n}\nif (msg.topic === 'boost-cancel' && boostUntil > nowMs) {\n  boostUntil = 0; boostTemp = null;\n  context.set('boostTemp', null);\n  context.set('boostUntil', 0);\n  context.set('cancelBy', pressBy);\n  boostNote = 'Boost cancelled - back to schedule';\n}\n\n// Cancel any active boost the moment the house goes Away (don't heat an empty house) --\n// unless the boost was STARTED while Away: a deliberate pre-warm before returning (#30).\nif (mode === 'away' && boostUntil > nowMs && !context.get('awayBoost')) { boostUntil = 0; boostTemp = null; }\nif (mode !== 'away' || !(boostUntil > nowMs)) context.set('awayBoost', false);\n\nconst boosting = boostUntil > nowMs;\nif (!boosting) { context.set('boostUntil', 0); context.set('boostTemp', null); }\n\nconst effectiveMode = boosting ? 'boost' : schedMode;\nconst target = boosting ? boostTemp : schedTarget;\n\n// --- WHY is the number what it is? (pure state, names the DRIVER of the current\n// target -- never a transition. 16-07-2026 rewrite.) Occupancy presets (eco/frost/\n// heading-home/sleep) are HOUSE-MODE driven; comfort & hot are SCHEDULE (clock) driven --\n// the preset tells you which, so a mode move that leaves the number alone can no longer\n// re-narrate the ticker (fixed '7:23 wake re-narrated an unchanged 20 deg' + 'evening arrival\n// called someone-came-home'). hmReasonRaw is still read: a hand-changed mode marks (manual).\nconst hmReasonRaw = ((get('input_text.house_mode_reason') || {}).state || '').trim();\n\nconst phNow = (function () {           // forecast pre-heat running right now?\n  const ph = flow.get('preHeat');\n  return !!(ph && ph.day === ds(now) && nowMs >= ph.startMs && hour < MORNING_HOUR && mode === 'sleeping');\n})();\n\nconst reason = (function () {\n  if (boosting) return 'you asked';\n  if (mode === 'away' && flow.get('preheat_latch')) return 'heading home';   // heading back\n  if (phNow) return 'cold morning';                                          // forecast pre-heat\n  if (schedMode === 'night') return 'sleep';                                 // asleep (night setback)\n  if (schedMode === 'frost') return 'empty over 24h';                        // empty >24h\n  if (schedMode === 'eco') return 'nobody home';                             // away, nobody in\n  // comfort / hot while home or awake -- the number is the SCHEDULE's, named by the clock:\n  if (hour >= 22 || hour < 7) return 'night';\n  if (hour >= 19) return 'evening';                                          // 19:00-21:59 hot 20.5\n  if (hour >= 10) return 'daytime';\n  return 'morning';                                                          // 07:00-09:59\n})();\n\n// --- status text (out3; only written when it changes) ---\nconst _preset = effectiveMode + ' ' + target + '°';   // the PRESET and the temperature\nconst _base = boosting ? ('boost ' + target + '°') : _preset;\nconst _reason = boosting ? ('until ' + hhmm(boostUntil)) : (guestOn ? 'guest' : reason);\n// WHO changed it: a boost (the hallway dial or the app button) and a hand-changed house\n// mode are the only things a PERSON does. Everything else is Node-RED, on its schedule\n// or on presence -> 'auto'.\nconst _by = (boosting || /changed by hand/i.test(hmReasonRaw)) ? 'manual' : 'auto';\nconst statusText = ((_reason ? (_base + ' — ' + _reason) : _base) + ' (' + _by + ')').slice(0, 100);   // input_text max=100; an over-long line is REJECTED by HA and the ticker silently dies\n// A real change = the preset/temperature, its DRIVER (the reason word), guest, or who did\n// it -- NOT the house mode itself: a mode move that leaves the number and its driver alone\n// (waking to a 20 deg the morning schedule already set) must not rewrite the line. The\n// pure-state reason can't flap on the heartbeat, so keying on it is safe.\nconst statusKey = _base + '|' + _reason + '|' + (guestOn ? 'g' : '-') + '|' + _by;\n// WHO for the activity badge (ha-config #38): a boost line carries its starter (a person,\n// or 'hand' for the dial); the schedule line written by a cancel carries the canceller;\n// everything else is the engine on schedule/presence = 'Node-RED'.\nconst _statusBy = boosting ? (context.get('boostBy') || 'hand')\n                           : (context.get('cancelBy') || 'Node-RED');\nif (!boosting) context.set('boostBy', null);\nlet statusMsg = null;\nif (statusKey !== context.get('lastStatusKey')) {\n  context.set('lastStatusKey', statusKey);\n  context.set('lastStatus', statusText);\n  statusMsg = { statusText: statusText, statusBy: _statusBy };\n}\ncontext.set('cancelBy', null);   // one-shot: only the write in the cancel's own run may claim it\n\n// --- de-dupe + 30-min re-assert ---\nconst lastTs = context.get('lastTs') || 0;\nconst stale = (nowMs - lastTs) > 30 * 60 * 1000;\nif (lastTarget === target && !stale) {\n  // no thermostat write needed; still surface status changes + boost notes (quiet hours apply)\n  let n2 = null;\n  if (boostNote && !(hour >= 22 || hour < 7)) n2 = { notify_title: 'Heating', notify_message: boostNote };\n  return [null, n2, statusMsg];\n}\nconst changed = (lastTarget !== target);\ncontext.set('lastTarget', target);\ncontext.set('lastTs', nowMs);\ncontext.set('confirmed', false);          // wait for the entity to reflect this new write\n\nmsg.target = target;\nmsg.info = { houseMode: hmDisplay, effectiveMode, target, boosting, longAway };\n\nconst boostMins = boosting ? Math.round((boostUntil - nowMs) / 60000) : 0;\nnode.status({\n  fill: boosting ? 'yellow' : (mode === 'away' ? 'blue' : (mode === 'sleeping' ? 'grey' : 'green')),\n  shape: 'dot',\n  text: boosting ? ('BOOST ' + target + 'C ' + boostMins + 'm left') : (hmDisplay + ' -> ' + effectiveMode + ' ' + target + 'C')\n});\n\n// --- test notification: change only, quiet 22:00-07:00 ---\nlet notifyMsg = null;\nconst nightQuiet = (hour >= 22 || hour < 7);\nif (changed && !nightQuiet) {\n  let m;\n  if (boostNote) {\n    m = boostNote + ' (' + effectiveMode + ' ' + target + 'C)';\n  } else if (boosting) {\n    m = 'Boost ' + target + 'C, holding until ' + hhmm(boostUntil);\n  } else {\n    m = hmDisplay + ' -> ' + effectiveMode + ' ' + target + 'C';\n  }\n  notifyMsg = { notify_title: 'Heating', notify_message: m };\n}\nreturn [msg, notifyMsg, statusMsg];\n",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 150,
        "wires": [
            [
                "heat-set"
            ],
            [
                "heat-notify"
            ],
            [
                "heat-status",
                "heat-status-by"
            ]
        ]
    },
    {
        "id": "heat-set",
        "type": "api-call-service",
        "z": "5a86c1a3371ffe9e",
        "name": "Set thermostat temp",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "climate.set_temperature",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.netatmo_smart_thermostat"
        ],
        "data": "{\"temperature\": msg.target}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 820,
        "y": 140,
        "wires": [
            [
                "heat-dbg"
            ]
        ]
    },
    {
        "id": "heat-dbg",
        "type": "debug",
        "z": "5a86c1a3371ffe9e",
        "name": "heat debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "info",
        "targetType": "msg",
        "statusVal": "info.target",
        "statusType": "msg",
        "x": 1050,
        "y": 140,
        "wires": []
    },
    {
        "id": "heat-notify",
        "type": "api-call-service",
        "z": "5a86c1a3371ffe9e",
        "name": "Notify Colm (test)",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "notify.mobile_app_np3",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\": msg.notify_title, \"message\": msg.notify_message, \"data\": {\"notification_icon\": \"mdi:radiator\"}}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 870,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "heat-fc-cron",
        "type": "inject",
        "z": "5a86c1a3371ffe9e",
        "name": "nightly 21:30",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "30 21 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "heat-fc-get"
            ]
        ]
    },
    {
        "id": "heat-fc-get",
        "type": "api-call-service",
        "z": "5a86c1a3371ffe9e",
        "name": "Met Eireann hourly",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "weather.get_forecasts",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "weather.forecast_home"
        ],
        "data": "{\"type\":\"hourly\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "results"
            }
        ],
        "queue": "none",
        "x": 380,
        "y": 400,
        "wires": [
            [
                "heat-fc-fn"
            ]
        ]
    },
    {
        "id": "heat-fc-fn",
        "type": "function",
        "z": "5a86c1a3371ffe9e",
        "name": "preheat decision",
        "func": "// === Nightly forecast pre-heat decision (~21:30) ===\n// Reads the Met Éireann hourly forecast (from heat-fc-get) and decides how early to\n// start tomorrow's 07:00 warm-up. Sets flow.preHeat for heat-fn. NO notification (removed 02-07-2026).\nconst MORNING_HOUR = 7;\nconst p = msg.payload || {};\nlet fc = p.forecast\n  || (p['weather.forecast_home'] && p['weather.forecast_home'].forecast)\n  || (msg.response && msg.response.forecast)\n  || [];\nif (!Array.isArray(fc)) fc = [];\nif (fc.length === 0) {\n  node.warn('preheat: forecast empty. msg keys=' + JSON.stringify(Object.keys(msg)) + ' payload keys=' + JSON.stringify(typeof p === 'object' ? Object.keys(p) : typeof p));\n}\n\nconst now = new Date();\nconst ds = d => d.getFullYear() + '-' + String(d.getMonth() + 1).padStart(2, '0') + '-' + String(d.getDate()).padStart(2, '0');\n\n// tomorrow-morning entries: future, local (Dublin) hour 5..7\nconst morning = fc\n  .map(x => ({ d: new Date(x.datetime), t: x.temperature }))\n  .filter(x => x.d > now && x.d.getHours() >= 5 && x.d.getHours() <= 7 && x.t != null);\n\nif (!morning.length) {\n  node.warn('preheat: no morning forecast entries (payload shape?)');\n  node.status({ fill: 'grey', shape: 'ring', text: 'no forecast' });\n  return null;\n}\n\nconst minTemp = Math.min(...morning.map(x => x.t));\nlet lead = 0;\nif (minTemp < -3) lead = 60;\nelse if (minTemp < 0) lead = 45;\nelse if (minTemp < 4) lead = 30;\nelse if (minTemp < 8) lead = 15;\nnode.warn('preheat check: fc=' + fc.length + ' morning=' + morning.length + ' minTemp=' + minTemp + ' lead=' + lead);\n\nif (lead === 0) {\n  flow.set('preHeat', null);\n  node.status({ fill: 'green', shape: 'dot', text: 'no preheat (' + minTemp + 'C)' });\n  return null;                       // mild enough -> no early start\n}\n\nconst day = morning[0].d;\nconst start = new Date(day.getFullYear(), day.getMonth(), day.getDate(), MORNING_HOUR, 0, 0);\nstart.setMinutes(start.getMinutes() - lead);\nconst hhmm = String(start.getHours()).padStart(2, '0') + ':' + String(start.getMinutes()).padStart(2, '0');\n\nflow.set('preHeat', { day: ds(day), startMs: start.getTime(), leadMins: lead, temp: minTemp });\nnode.status({ fill: 'yellow', shape: 'dot', text: 'preheat ' + hhmm + ' (' + minTemp + 'C)' });\n\n// Notify ONLY when the forecast low is sub-zero / freezing (user 02-07-2026)\nif (minTemp < 0) {\n  msg.notify_title = '❄️ Freezing morning ahead';\n  msg.notify_message = 'Low around ' + minTemp + '°C overnight — I\\'ll start warming the house early, from ' + hhmm + '.';\n  return msg;\n}\nreturn null;                         // above-freezing pre-heat happens silently (no push)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 400,
        "wires": [
            [
                "heat-fc-np3",
                "heat-fc-oli"
            ]
        ]
    },
    {
        "id": "heat-fc-np3",
        "type": "api-call-service",
        "z": "5a86c1a3371ffe9e",
        "name": "Notify Colm (freezing)",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "notify.mobile_app_np3",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\": msg.notify_title, \"message\": msg.notify_message, \"data\": {\"notification_icon\": \"mdi:snowflake-alert\"}}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 820,
        "y": 390,
        "wires": [
            []
        ]
    },
    {
        "id": "heat-fc-oli",
        "type": "api-call-service",
        "z": "5a86c1a3371ffe9e",
        "name": "Notify Olivia (freezing)",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "notify.mobile_app_pixel_6a",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\": msg.notify_title, \"message\": msg.notify_message, \"data\": {\"notification_icon\": \"mdi:snowflake-alert\"}}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 820,
        "y": 430,
        "wires": [
            []
        ]
    },
    {
        "id": "heat-btn-boost",
        "type": "server-state-changed",
        "z": "5a86c1a3371ffe9e",
        "name": "heating_boost_start",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "entities": {
            "entity": [
                "input_button.heating_boost_start"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "boost-start",
                "valueType": "str"
            },
            {
                "property": "byEvent",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "entityidfiltertype": "list",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "heat-get"
            ]
        ]
    },
    {
        "id": "heat-btn-cancel",
        "type": "server-state-changed",
        "z": "5a86c1a3371ffe9e",
        "name": "heating_boost_cancel",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "entities": {
            "entity": [
                "input_button.heating_boost_cancel"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "boost-cancel",
                "valueType": "str"
            },
            {
                "property": "byEvent",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "entityidfiltertype": "list",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "heat-get"
            ]
        ]
    },
    {
        "id": "heat-status",
        "type": "api-call-service",
        "z": "5a86c1a3371ffe9e",
        "name": "write heating status",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "input_text.set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_text.heating_status"
        ],
        "data": "{\"value\": msg.statusText}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 870,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "heat-status-by",
        "type": "api-call-service",
        "z": "5a86c1a3371ffe9e",
        "name": "write heating status by",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "input_text.set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_text.heating_status_by"
        ],
        "data": "{\"value\": msg.statusBy}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 880,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "aa-cfg-inj",
        "type": "inject",
        "z": "096ff268dc7bd2f0",
        "name": "load people (deploy)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "aa-cfg"
            ]
        ]
    },
    {
        "id": "aa-cfg",
        "type": "function",
        "z": "096ff268dc7bd2f0",
        "name": "people config",
        "func": "// SINGLE source of truth. Add Cian here (create their ping sensor too).\nconst PEOPLE=[\n {name:'Colm',   person:'person.colm_finn',   ping:'binary_sensor.colm_phone_home',   notify:'notify.mobile_app_np3'},\n {name:'Olivia', person:'person.olivia_finn', ping:'binary_sensor.olivia_phone_home', notify:'notify.mobile_app_pixel_6a'},\n {name:'Daire',  person:'person.daire_finn',  ping:'binary_sensor.daire_phone_home',  notify:'notify.mobile_app_pixel_9a', onlyWhenHome:true}\n // ,{name:'Cian',  person:'person.cian_finn',  ping:'binary_sensor.cian_phone_home',  notify:'notify.mobile_app_pixel_7a'}\n];\nflow.set('people',PEOPLE);\nglobal.set('people',PEOPLE);   // shared with the Alarm NFC Tags flow\nreturn null;\n",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "aa-arm",
        "type": "api-call-service",
        "z": "096ff268dc7bd2f0",
        "name": "Arm Away (house)",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "alarm_control_panel.alarm_arm_away",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "alarm_control_panel.house"
        ],
        "data": "{}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1170,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "aa-disarm",
        "type": "api-call-service",
        "z": "096ff268dc7bd2f0",
        "name": "Disarm (house)",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "alarm_control_panel.alarm_disarm",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "alarm_control_panel.house"
        ],
        "data": "{}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1160,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "aa-tts",
        "type": "api-call-service",
        "z": "096ff268dc7bd2f0",
        "name": "TTS all speakers",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "script.tts_announce",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\": payload.message, \"target_player\": \"media_player.home_audio_group_cast\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1190,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "na-alarm",
        "type": "server-state-changed",
        "z": "096ff268dc7bd2f0",
        "name": "alarm house/shed",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "alarm_control_panel.house",
                "alarm_control_panel.shed"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": false,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "entityidfiltertype": "list",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "na-get"
            ]
        ]
    },
    {
        "id": "na-fn",
        "type": "function",
        "z": "096ff268dc7bd2f0",
        "name": "alarm notify engine",
        "func": "// Alarm notification engine (state-derived) -> all people\nconst PEOPLE=flow.get('people')||[{notify:'notify.mobile_app_np3'},{notify:'notify.mobile_app_pixel_6a'}];\nconst ents=Array.isArray(msg.entities)?msg.entities:[];\nconst S=id=>{const e=ents.find(x=>x.entity_id===id);return e&&e.state;};\nconst homeP=p=>S(p.person)==='home'||S(p.ping)==='on';\nconst FN=id=>{const e=ents.find(x=>x.entity_id===id);return (e&&e.attributes&&e.attributes.friendly_name)||id.split('.').pop().replace(/_contact$/,'').replace(/_/g,' ').replace(/\\b\\w/g,c=>c.toUpperCase());};\nconst PERSONS=['cian','colm','aoife','olivia','daire'];\nconst spoken=id=>{const nm=FN(id).trim();const w=nm.split(/\\s+/);return (PERSONS.includes(w[0].toLowerCase())&&w.length>1)?(w[0]+\"'s \"+w.slice(1).join(' ').toLowerCase()):('the '+nm.toLowerCase());};\nconst ev=msg.payload||{};\nconst ns=ev.new_state||{}, os=ev.old_state||{};\nconst nw=ns.state, old=os.state, eid=ev.entity_id||'';\nconst area=eid.endsWith('.shed')?'Shed':'House';\nif(eid==='alarm_control_panel.house'&&nw){flow.set('alarm_house',nw);global.set('alarm_house',nw);}\nif(eid==='alarm_control_panel.shed'&&nw){global.set('alarm_shed',nw);}\nconst ARMED=['armed_away','armed_home','armed_night','armed_vacation','armed_custom_bypass'];\nconst opens=(ns.attributes&&ns.attributes.open_sensors)||null;\nfunction ol(){ if(!opens) return ''; try{return ' Open: '+Object.keys(opens).map(id=>FN(id)).join(', ')+'.';}catch(e){return '';} }\nlet title=null,message=null,tag=null;\nif(ARMED.includes(nw)&&!ARMED.includes(old)){title='🔒 '+area+' alarm armed';message='The '+area+' alarm is now armed.';tag='armed';}\nelse if(nw==='triggered'){title='🚨 '+area+' alarm TRIGGERED';message='The '+area+' alarm has been triggered!'+ol();tag='trig';}\nelse if(old==='triggered'&&nw!=='triggered'){title='✅ '+area+' alarm clear';message='The '+area+' alarm is no longer triggered.';tag='untrig';}\nelse if(nw==='disarmed'&&(ARMED.includes(old)||old==='triggered'||old==='pending'||old==='arming')){title='🔓 '+area+' alarm disarmed';message='The '+area+' alarm has been disarmed.';tag='disarm';}\nelse if(nw==='disarmed'&&opens&&(old==='disarmed'||old==='arming')){title='⚠️ '+area+' failed to arm';message='The '+area+' alarm failed to arm.'+ol();tag='failed';}\nelse { return null; }\nconst key=tag+'|'+message, last=context.get('last_'+eid);\nif(last===key) return null;\ncontext.set('last_'+eid,key);\nnode.warn('[alarm-notify] '+area+' '+tag+' -> '+PEOPLE.filter(p=>p.notify&&(!p.onlyWhenHome||homeP(p))).length+' people');\nconst ICON={armed:'mdi:shield-lock',trig:'mdi:alarm-light',untrig:'mdi:shield-check',disarm:'mdi:shield-off',failed:'mdi:shield-alert'};\nconst ico=ICON[tag]||'mdi:shield-home';\nconst out=PEOPLE.filter(p=>p.notify&&(!p.onlyWhenHome||homeP(p))).map(p=>({payload:{action:p.notify,data:{title:title,message:message,data:{notification_icon:ico}}}}));\nconst _aw=flow.get('awaitWelcome');const _welcomePending=!!(_aw&&(Date.now()-_aw.since)<8*60*1000);\nlet sm=null;\nif(tag==='armed') sm=(nw==='armed_night')?null:(area+' alarm armed.');\nelse if(tag==='disarm') sm=(old==='armed_night')?null:((eid==='alarm_control_panel.house'&&_welcomePending)?null:(area+' alarm disarmed.'));\nelse if(tag==='trig') sm='Warning! The '+area+' alarm has been triggered.';\nelse if(tag==='untrig') sm='The '+area+' alarm is no longer triggered.';\nelse if(tag==='failed'){const ks=opens?Object.keys(opens):[];const isHouse=(eid==='alarm_control_panel.house');if(isHouse&&flow.get('failSpoken')){sm=null;}else{if(isHouse)flow.set('failSpoken',true);sm=ks.length===1?('Alarm failed to arm because '+spoken(ks[0])+' is open.'):'Alarm failed to arm. Multiple windows and or doors are open. Check Home Assistant.';}}\nreturn [out, sm?{payload:{message:sm}}:null];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 540,
        "wires": [
            [
                "na-notify",
                "na-dbg"
            ],
            [
                "aa-tts"
            ]
        ]
    },
    {
        "id": "na-notify",
        "type": "api-call-service",
        "z": "096ff268dc7bd2f0",
        "name": "notify (per msg.payload)",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "{{payload.action}}",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1190,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "na-dbg",
        "type": "debug",
        "z": "096ff268dc7bd2f0",
        "name": "alarm-notify",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.data.title",
        "statusType": "msg",
        "x": 1270,
        "y": 520,
        "wires": []
    },
    {
        "id": "na-get",
        "type": "ha-get-entities",
        "z": "096ff268dc7bd2f0",
        "name": "states",
        "server": "ha-server",
        "version": 3,
        "rules": [],
        "outputType": "array",
        "outputEmptyResults": true,
        "outputLocationType": "msg",
        "outputLocation": "entities",
        "outputResultsCount": 1,
        "x": 430,
        "y": 520,
        "wires": [
            [
                "na-fn",
                "aa-retry-fn"
            ]
        ]
    },
    {
        "id": "aa-batt-trg",
        "type": "server-state-changed",
        "z": "096ff268dc7bd2f0",
        "name": "battery <15 (residents)",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "sensor.np3_battery_level",
                "sensor.pixel_6a_battery_level"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "entityidfiltertype": "list",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "aa-batt-get"
            ]
        ]
    },
    {
        "id": "aa-batt-fn",
        "type": "function",
        "z": "096ff268dc7bd2f0",
        "name": "low-battery nudge",
        "func": "// Layer 3: low-battery alerts (alarm presence) -> Colm+Olivia\n// Day (07-22): immediate low (<15%) + immediate recovery (>=15% AND charging).\n// Night (22-07): silent, record events for the 07:00 catch-up summary.\nconst d=msg.data||{};\nconst eid=d.entity_id||msg.topic;\nconst nv=parseFloat(msg.payload);\nconst ov=parseFloat(d.old_state&&d.old_state.state);\nif(isNaN(nv)) return null;\nconst ents=msg.entities||[];\nconst S=id=>{const e=ents.find(x=>x.entity_id===id);return e?e.state:undefined;};\nconst NAME={'sensor.np3_battery_level':\"Colm's\",'sensor.pixel_6a_battery_level':\"Olivia's\"};\nconst STATE={'sensor.np3_battery_level':'sensor.np3_battery_state','sensor.pixel_6a_battery_level':'sensor.pixel_6a_battery_state'};\nconst who=NAME[eid];\nif(!who) return null;\nconst charging=S(STATE[eid])==='charging';\nconst h=new Date().getHours();\nconst night=(h>=22||h<7);\nconst hhmm=()=>{const t=new Date();return ('0'+t.getHours()).slice(-2)+':'+('0'+t.getMinutes()).slice(-2);};\nconst ALERTS=['notify.mobile_app_np3','notify.mobile_app_pixel_6a'];\nconst push=(title,message)=>[ALERTS.map(a=>({payload:{action:a,data:{title:title,message:message,data:{notification_icon:'mdi:battery-alert'}}}}))];\n// down-crossing below 15%\nif(nv<15 && !(ov<15)){\n  if(night){\n    const rec=flow.get('battNight')||{};\n    rec[eid]={who:who,lowPct:nv,lowAt:hhmm(),recovered:false};\n    flow.set('battNight',rec);\n    node.warn('[low-batt] night low '+eid+' '+nv+'% recorded');\n    return null;\n  }\n  node.warn('[low-batt] '+eid+' '+nv+'%');\n  return push('Phone battery low',who+' phone is at '+nv+'% - charge it so the alarm presence keeps working.');\n}\n// up-crossing above 15% AND charging -> recovery\nif(nv>=15 && ov<15 && charging){\n  if(night){\n    const rec=flow.get('battNight')||{};\n    const e=rec[eid]||{who:who,recovered:false};\n    e.recovered=true; e.recPct=nv; e.recAt=hhmm();\n    rec[eid]=e; flow.set('battNight',rec);\n    node.warn('[low-batt] night recovery '+eid+' '+nv+'% recorded');\n    return null;\n  }\n  node.warn('[low-batt] recovery '+eid+' '+nv+'%');\n  return push('Phone battery recovering',who+' phone is back above 15% ('+nv+'%) and charging - alarm presence is covered again.');\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 700,
        "wires": [
            [
                "aa-batt-notify"
            ]
        ]
    },
    {
        "id": "aa-batt-get",
        "type": "ha-get-entities",
        "z": "096ff268dc7bd2f0",
        "name": "get states",
        "server": "ha-server",
        "version": 3,
        "rules": [],
        "outputType": "array",
        "outputEmptyResults": true,
        "outputLocationType": "msg",
        "outputLocation": "entities",
        "outputResultsCount": 1,
        "output_type": "array",
        "output_empty_results": true,
        "output_location_type": "msg",
        "output_location": "entities",
        "output_results_count": 1,
        "x": 480,
        "y": 700,
        "wires": [
            [
                "aa-batt-fn"
            ]
        ]
    },
    {
        "id": "aa-batt-cron",
        "type": "inject",
        "z": "096ff268dc7bd2f0",
        "name": "07:00 catch-up",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 07 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 800,
        "wires": [
            [
                "aa-batt-sum-get"
            ]
        ]
    },
    {
        "id": "aa-batt-sum-get",
        "type": "ha-get-entities",
        "z": "096ff268dc7bd2f0",
        "name": "get states",
        "server": "ha-server",
        "version": 3,
        "rules": [],
        "outputType": "array",
        "outputEmptyResults": true,
        "outputLocationType": "msg",
        "outputLocation": "entities",
        "outputResultsCount": 1,
        "output_type": "array",
        "output_empty_results": true,
        "output_location_type": "msg",
        "output_location": "entities",
        "output_results_count": 1,
        "x": 480,
        "y": 800,
        "wires": [
            [
                "aa-batt-sum-fn"
            ]
        ]
    },
    {
        "id": "aa-batt-sum-fn",
        "type": "function",
        "z": "096ff268dc7bd2f0",
        "name": "overnight summary",
        "func": "// 07:00 overnight battery catch-up summary -> Colm+Olivia (only if events occurred)\nconst rec=flow.get('battNight')||{};\nconst eids=Object.keys(rec);\nif(eids.length===0) return null;\nconst ents=msg.entities||[];\nconst S=id=>{const e=ents.find(x=>x.entity_id===id);return e?e.state:undefined;};\nconst STATE={'sensor.np3_battery_level':'sensor.np3_battery_state','sensor.pixel_6a_battery_level':'sensor.pixel_6a_battery_state'};\nconst lines=eids.map(eid=>{\n  const e=rec[eid];\n  const nowPct=S(eid);\n  const nowChg=S(STATE[eid])==='charging';\n  let line='\\u2022 '+e.who+' phone';\n  if(e.lowAt) line+=' dropped to '+e.lowPct+'% at '+e.lowAt;\n  if(e.recovered) line+=(e.lowAt?', recovered to ':' charged to ')+e.recPct+'% at '+e.recAt;\n  line+=' (now '+(nowPct!==undefined?nowPct+'%':'?')+(nowChg?', charging':', not charging')+')';\n  return line;\n});\nflow.set('battNight',{});\nnode.warn('[low-batt] morning summary: '+eids.length+' phone(s)');\nconst ALERTS=['notify.mobile_app_np3','notify.mobile_app_pixel_6a'];\nconst msgTxt='Overnight while notifications were quiet:\\n'+lines.join('\\n');\nreturn [ALERTS.map(a=>({payload:{action:a,data:{title:'\\ud83d\\udd0b Overnight battery summary',message:msgTxt,data:{notification_icon:'mdi:battery-clock'}}}}))];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 800,
        "wires": [
            [
                "aa-batt-notify"
            ]
        ]
    },
    {
        "id": "aa-batt-notify",
        "type": "api-call-service",
        "z": "096ff268dc7bd2f0",
        "name": "low-batt notify (Colm+Olivia)",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "{{payload.action}}",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1220,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "aa-hm",
        "type": "server-state-changed",
        "z": "096ff268dc7bd2f0",
        "name": "house_mode",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_select.house_mode"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "entityidfiltertype": "list",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "aa-hm-fn"
            ]
        ]
    },
    {
        "id": "aa-hm-fn",
        "type": "function",
        "z": "096ff268dc7bd2f0",
        "name": "mode → alarm",
        "func": "const ev = msg.payload || {};\nconst mode    = ev.new_state ? ev.new_state.state : '';\nconst oldMode = (ev.old_state  && ev.old_state.state)  || '';\nconst guestMode = flow.get('guest_mode') || 'off';\nnode.warn('[house-alarm] house_mode: ' + oldMode + ' → ' + mode + (guestMode === 'on' ? ' [guest mode]' : ''));\nif (mode) flow.set('mode', mode);\nif (mode === 'Away') {\n    // Guest mode blocks Away arming ONLY (guests moving around would trip it)\n    if (guestMode === 'on') { node.warn('[house-alarm] arm away skipped — guest mode active'); return null; }\n    if (flow.get('alarm_house') === 'armed_away') { node.warn('[house-alarm] arm away skipped — already armed_away'); return null; }\n    return [{}, null, null, {payload:{message:'Nobody is home. Arming the house alarm.'}}];\n}\nif (mode === 'Sleeping') {\n    // Night arming is NOT blocked by guest mode (changed 02-07-2026) — perimeter still armed overnight with guests in\n    if (flow.get('alarm_house') === 'armed_night') { node.warn('[house-alarm] arm night skipped — already armed_night'); return null; }\n    return [null, {}, null, null];\n}\nif (mode === 'Home') {\n    if (oldMode === 'Away') { flow.set('awaitWelcome', {since: Date.now()}); node.warn('[house-alarm] welcome armed — awaiting front door open'); }\n    const needDisarm = flow.get('alarm_house') !== 'disarmed';\n    if (!needDisarm) node.warn('[house-alarm] disarm skipped — already disarmed');\n    return [null, null, needDisarm ? {} : null, null];\n}\nreturn null;\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 200,
        "wires": [
            [
                "aa-arm"
            ],
            [
                "aa-arm-night"
            ],
            [
                "aa-disarm"
            ],
            [
                "aa-tts"
            ]
        ]
    },
    {
        "id": "aa-arm-night",
        "type": "api-call-service",
        "z": "096ff268dc7bd2f0",
        "name": "Arm Night (house)",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "alarm_control_panel.alarm_arm_night",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "alarm_control_panel.house"
        ],
        "data": "{}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1170,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "aa-hm-init",
        "type": "inject",
        "z": "096ff268dc7bd2f0",
        "name": "startup",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "aa-hm-init-get"
            ]
        ]
    },
    {
        "id": "aa-hm-startup-fn",
        "type": "function",
        "z": "096ff268dc7bd2f0",
        "name": "current house_mode",
        "func": "const ents = Array.isArray(msg.payload) ? msg.payload : [];\nconst hm = ents.find(x => x.entity_id === 'input_select.house_mode');\nconst gm = ents.find(x => x.entity_id === 'input_boolean.guest_mode');\nconst mode = hm ? hm.state : '';\nconst guestMode = gm ? gm.state : 'off';\nflow.set('guest_mode', guestMode);\nconst _ah=ents.find(x=>x.entity_id==='alarm_control_panel.house'); if(_ah){flow.set('alarm_house',_ah.state);global.set('alarm_house',_ah.state);}\nconst _as=ents.find(x=>x.entity_id==='alarm_control_panel.shed'); if(_as) global.set('alarm_shed',_as.state);\nnode.warn('[house-alarm] startup: house_mode=' + mode + ' guest_mode=' + guestMode);\nif (!mode) return null;\nflow.set('mode', mode);\nmsg.payload = { new_state: { state: mode }, old_state: { state: '' } };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 100,
        "wires": [
            [
                "aa-hm-fn"
            ]
        ]
    },
    {
        "id": "aa-hm-init-get",
        "type": "ha-get-entities",
        "z": "096ff268dc7bd2f0",
        "name": "get house_mode",
        "server": "ha-server",
        "version": 3,
        "rules": [],
        "outputType": "array",
        "outputEmptyResults": true,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "aa-hm-startup-fn"
            ]
        ]
    },
    {
        "id": "aa-guest-watcher",
        "type": "server-state-changed",
        "z": "096ff268dc7bd2f0",
        "name": "guest_mode",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "entities": {
            "entity": [
                "input_boolean.guest_mode"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "entityidfiltertype": "list",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "aa-guest-fn"
            ]
        ]
    },
    {
        "id": "aa-guest-fn",
        "type": "function",
        "z": "096ff268dc7bd2f0",
        "name": "guest_mode change",
        "func": "const ev = msg.payload || {};\nconst state = ev.new_state ? ev.new_state.state : '';\nflow.set('guest_mode', state);\nnode.warn('[house-alarm] guest_mode: ' + state);\nif (state === 'off') {\n    // Guest left — re-evaluate current house_mode\n    const mode = flow.get('mode') || '';\n    node.warn('[house-alarm] guest_mode off, re-evaluating mode=' + mode);\n    msg.payload = { new_state: { state: mode }, old_state: { state: '' } };\n    return msg;\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 300,
        "wires": [
            [
                "aa-hm-fn"
            ]
        ]
    },
    {
        "id": "aa-reconcile-cron",
        "type": "inject",
        "z": "096ff268dc7bd2f0",
        "name": "reconcile 60s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "aa-reconcile-get"
            ]
        ]
    },
    {
        "id": "aa-reconcile-get",
        "type": "ha-get-entities",
        "z": "096ff268dc7bd2f0",
        "name": "get house_mode+guest",
        "server": "ha-server",
        "version": 3,
        "rules": [],
        "outputType": "array",
        "outputEmptyResults": true,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "aa-reconcile-fn"
            ]
        ]
    },
    {
        "id": "aa-reconcile-fn",
        "type": "function",
        "z": "096ff268dc7bd2f0",
        "name": "reconcile (missed change only)",
        "func": "// === House Alarm reconcile (safety net for missed house_mode events) ===\n// Runs periodically. Compares the CURRENT house_mode to the last one the flow PROCESSED\n// (flow.mode). Only if they differ (a change was missed — e.g. Node-RED's HA connection\n// blipped at the moment house_mode changed) does it re-apply, by feeding aa-hm-fn a\n// synthetic event. Because it keys off flow.mode (not the alarm state), a MANUAL disarm\n// — which doesn't change house_mode — is left untouched until house_mode next changes.\nconst ents = Array.isArray(msg.payload) ? msg.payload : [];\nconst S = id => { const e = ents.find(x => x.entity_id === id); return e ? e.state : undefined; };\n\nconst mode = S('input_select.house_mode');\nconst guestMode = S('input_boolean.guest_mode') || 'off';\nif (!ents.length || !mode) return null;          // no data (e.g. get returned empty) -> do nothing\n\nflow.set('guest_mode', guestMode);               // keep guest state fresh (its watcher could also miss an event)\n\nconst lastMode = flow.get('mode') || '';\nif (mode === lastMode) return null;              // no missed change -> respect current (incl. manual) state\n\nnode.warn('[house-alarm] RECONCILE: missed house_mode change ' + lastMode + ' -> ' + mode + ' — re-applying');\nflow.set('mode', mode);\nmsg.payload = { new_state: { state: mode }, old_state: { state: lastMode } };\nreturn msg;                                       // -> aa-hm-fn (arms/disarms exactly like a real change)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 360,
        "wires": [
            [
                "aa-hm-fn"
            ]
        ]
    },
    {
        "id": "aa-retry-tick",
        "type": "inject",
        "z": "096ff268dc7bd2f0",
        "name": "night-retry 60s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "aa-retry-get"
            ]
        ]
    },
    {
        "id": "aa-retry-get",
        "type": "ha-get-entities",
        "z": "096ff268dc7bd2f0",
        "name": "states",
        "server": "ha-server",
        "version": 3,
        "rules": [],
        "outputType": "array",
        "outputEmptyResults": true,
        "outputLocationType": "msg",
        "outputLocation": "entities",
        "outputResultsCount": 1,
        "x": 370,
        "y": 420,
        "wires": [
            [
                "aa-retry-fn"
            ]
        ]
    },
    {
        "id": "aa-retry-fn",
        "type": "function",
        "z": "096ff268dc7bd2f0",
        "name": "night-arm retry",
        "func": "// Night-arm retry (one shot).\n// Alarmo refuses arm_night when a door/window is open: the panel STAYS 'disarmed'\n// and names the culprits in attribute open_sensors. aa-hm-fn is a state-change\n// one-shot on house_mode, so nothing ever tried again -- the house sat unarmed\n// all night. This retries ONCE, RETRY_MIN after every blocker is closed again\n// (someone got up to shut it; give them time to settle back down).\nconst RETRY_MIN = 20;\nconst RETRY_MS  = RETRY_MIN * 60 * 1000;\n\nconst ents = Array.isArray(msg.entities) ? msg.entities : [];\nif (!ents.length) return null;                       // no snapshot -> can't judge\nconst S = id => { const e = ents.find(x => x.entity_id === id); return e && e.state; };\nconst FN = id => { const e = ents.find(x => x.entity_id === id);\n                   return (e && e.attributes && e.attributes.friendly_name) || id; };\n\nconst hm    = S('input_select.house_mode');\nconst alarm = S('alarm_control_panel.house');\nconst now   = Date.now();\n\n// Left Sleeping, or armed by any route -> the whole thing is off. This is also\n// where the next night's state gets cleared (incl. na-fn's spoken-once flag).\nif (hm !== 'Sleeping' || (alarm && alarm !== 'disarmed')) {\n  if (context.get('blockers') || context.get('retryUsed') || flow.get('failSpoken')) {\n    node.warn('[night-retry] stand down (house_mode=' + hm + ', alarm=' + alarm + ')');\n  }\n  context.set('blockers', null);\n  context.set('closedSince', null);\n  context.set('retryUsed', false);\n  flow.set('failSpoken', false);\n  return null;\n}\n\n// Capture a failed night arm: disarmed + Alarmo naming open sensors, while Sleeping.\nconst ev = msg.payload || {};\nconst ns = ev.new_state || {};\nif (ev.entity_id === 'alarm_control_panel.house' && ns.state === 'disarmed' &&\n    ns.attributes && ns.attributes.open_sensors) {\n  if (context.get('retryUsed')) {\n    node.warn('[night-retry] arm failed again -- retry already used, standing down');\n  } else {\n    const b = Object.keys(ns.attributes.open_sensors);\n    context.set('blockers', b);\n    context.set('closedSince', null);\n    node.warn('[night-retry] armed blocked by: ' + b.map(FN).join(', ') + ' -- waiting for all closed');\n  }\n  return null;\n}\n\nconst blockers = context.get('blockers');\nif (!blockers || !blockers.length) return null;\nif (context.get('retryUsed')) return null;\n\nconst stillOpen = blockers.filter(id => S(id) !== 'off');\nif (stillOpen.length) {                              // re-opened (or never closed) -> clock resets\n  if (context.get('closedSince')) node.warn('[night-retry] re-opened: ' + stillOpen.map(FN).join(', ') + ' -- timer reset');\n  context.set('closedSince', null);\n  return null;\n}\n\nlet since = context.get('closedSince');\nif (!since) {\n  context.set('closedSince', now);\n  node.warn('[night-retry] all closed -- arming in ' + RETRY_MIN + ' min');\n  return null;\n}\n\nif (now - since < RETRY_MS) return null;             // still settling\n\ncontext.set('retryUsed', true);                      // ONE retry, then stop\ncontext.set('closedSince', null);\nnode.warn('[night-retry] retrying arm_night now');\nreturn {};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 440,
        "wires": [
            [
                "aa-arm-night"
            ]
        ]
    },
    {
        "id": "aa-door",
        "type": "server-state-changed",
        "z": "096ff268dc7bd2f0",
        "name": "front door open",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.front_door_contact"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "entityidfiltertype": "list",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "aa-welcome-get"
            ]
        ]
    },
    {
        "id": "aa-welcome-get",
        "type": "ha-get-entities",
        "z": "096ff268dc7bd2f0",
        "name": "states",
        "server": "ha-server",
        "version": 3,
        "rules": [],
        "outputType": "array",
        "outputEmptyResults": true,
        "outputLocationType": "msg",
        "outputLocation": "entities",
        "outputResultsCount": 1,
        "x": 390,
        "y": 600,
        "wires": [
            [
                "aa-welcome-fn"
            ]
        ]
    },
    {
        "id": "aa-welcome-fn",
        "type": "function",
        "z": "096ff268dc7bd2f0",
        "name": "welcome (door-gated)",
        "func": "const aw = flow.get('awaitWelcome');\nconst WINDOW = 8 * 60 * 1000;\nconst opened = msg.payload && msg.payload.new_state && msg.payload.new_state.state === 'on';\nif (!opened) return null;\nif (!aw || (Date.now() - aw.since) > WINDOW) return null;\nflow.set('awaitWelcome', null);\nconst ents = Array.isArray(msg.entities) ? msg.entities : [];\nconst S = id => { const e = ents.find(x => x.entity_id === id); return e && e.state; };\nconst PEOPLE = flow.get('people') || [];\nconst home = PEOPLE.filter(p => p.name && (S(p.person) === 'home' || S(p.ping) === 'on')).map(p => p.name);\nlet who = null;\nif (home.length === 1) who = home[0];\nelse if (home.length > 1) who = home.slice(0, -1).join(', ') + ' and ' + home[home.length - 1];\nconst message = who ? ('Welcome home, ' + who + '. The house has been disarmed.') : 'Welcome home. The house has been disarmed.';\nnode.warn('[house-alarm] ' + message);\nreturn { payload: { message } };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 600,
        "wires": [
            [
                "aa-welcome-delay"
            ]
        ]
    },
    {
        "id": "aa-welcome-delay",
        "type": "delay",
        "z": "096ff268dc7bd2f0",
        "name": "10s",
        "pauseType": "delay",
        "timeout": "25",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 850,
        "y": 600,
        "wires": [
            [
                "aa-tts"
            ]
        ]
    },
    {
        "id": "nfc-ev",
        "type": "server-events",
        "z": "657e6b8b07b4cdf7",
        "name": "NFC tag scanned",
        "server": "ha-server",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "tag_scanned",
        "waitForRunning": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "event_type": "tag_scanned",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "nfc-fn"
            ]
        ]
    },
    {
        "id": "nfc-fn",
        "type": "function",
        "z": "657e6b8b07b4cdf7",
        "name": "nfc engine",
        "func": "// NFC + shed override. server-events now emits the FULL event envelope -> data under .event.\nconst HOUSE_TAG='f195ee10-14a9-4b65-bd10-c53c9866bcdf';\nconst SHED_TAG='b9ac1256-89ad-4514-b7d4-3e65ebd1c948';\nconst HARD=2*60*60*1000;   // 2 hour hard cap\nconst CLOSED=15*60*1000;   // door closed 15 min\nconst DOOR='binary_sensor.shed_door_contact';   // on=open, off=closed\nconst PEOPLE=global.get('people')||[{notify:'notify.mobile_app_np3'},{notify:'notify.mobile_app_pixel_6a'}];\nconst ENV=msg.payload||{};\nconst D=ENV.event||ENV;          // tag/state data lives under .event (envelope); flat fallback\nconst ET=ENV.event_type;\n// outputs: 0 disarm-house | 1 disarm-shed | 2 arm-shed | 3 tts | 4 notify | 5 status-by\n// WHO scanned: tag_scanned events carry the scanning phone's user in the envelope\n// context (verified against the recorder 19-07-2026). Written to\n// input_text.alarm_status_by ONLY on tag-initiated disarms (ha-config #39) so the\n// activity card can badge them; auto re-arms stay unwritten (they ARE Node-RED).\nconst BY_USERS={\n  'da11950c94184bf281a21b4b1a06cdb7':'Colm',\n  'bfe92889b07b4798901d5d48a789262f':'Olivia',\n  '5aa07e1f90c44da2aab995628305cb52':'Cian',\n  '848fa8f992bb47d6a23f498d73717814':'Daire'\n};\nconst _uid=ENV.context&&ENV.context.user_id;\nconst _by=(_uid&&BY_USERS[_uid])||'hand';   // unknown scanner -> neutral hand\nfunction clrHard(){const t=context.get('hardT');if(t){clearTimeout(t);context.set('hardT',null);}}\nfunction clrClosed(){const t=context.get('closedT');if(t){clearTimeout(t);context.set('closedT',null);}}\nfunction tts(m){return {payload:{message:m}};}\nfunction notif(title,message){return PEOPLE.filter(x=>x.notify).map(x=>({payload:{action:x.notify,data:{title:title,message:message,data:{notification_icon:'mdi:shield-home'}}}}));}\nfunction rearm(why){context.set('shedOverride',false);context.set('doorOpened',false);context.set('doorOpen',false);clrHard();clrClosed();node.warn('[nfc] shed re-arm ('+why+')');node.send([null,null,{},null,null]);}\nfunction startClosed(){clrClosed();const t=setTimeout(function(){context.set('closedT',null);rearm('door closed 15m');},CLOSED);context.set('closedT',t);node.warn('[nfc] shed door closed -> 15m re-arm timer');}\nfunction shedOpenAlert(){\n  context.set('doorOpened',true);\n  node.warn('[nfc] 2h cap reached, shed door STILL OPEN -> hold disarmed + alert');\n  node.send([null,null,null,\n    tts('The shed door has been left open. The shed alarm is not armed and will not arm until the door is closed for fifteen minutes.'),\n    notif('Shed door left open','The shed has been open for 2 hours and is still open. The shed alarm is NOT armed - it will arm 15 minutes after the door is closed.')]);\n}\nfunction hardCap(){\n  context.set('hardT',null);\n  if(context.get('doorOpen')){ shedOpenAlert(); }\n  else { rearm('2h cap'); }\n}\n// TAG scans\nif(ET==='tag_scanned' || D.tag_id){\n  const tag=D.tag_id;\n  if(tag===HOUSE_TAG){ if(global.get('alarm_house')==='disarmed'){ node.warn('[nfc] front door tag — house already disarmed, skip'); return null; } node.warn('[nfc] front door -> disarm house (by '+_by+')'); return [{},null,null,null,null,{statusBy:_by}]; }\n  if(tag===SHED_TAG){\n    context.set('shedOverride',true); context.set('doorOpened',false); context.set('doorOpen',false);\n    clrHard(); const ht=setTimeout(hardCap, HARD); context.set('hardT',ht);\n    clrClosed();\n    if(global.get('alarm_shed')==='disarmed'){ node.warn('[nfc] back door tag — shed already disarmed, override started, skip disarm call'); return null; }\n    node.warn('[nfc] back door -> disarm shed (2h cap, by '+_by+')');\n    return [null,{},null,null,null,{statusBy:_by}];   // disarm shed + record who\n  }\n  return null;\n}\n// SHED DOOR state changes (only during override window)\nif(D.entity_id===DOOR && context.get('shedOverride')){\n  const ds=(D.new_state&&D.new_state.state)||null;\n  const open=(ds==='on');\n  context.set('doorOpen',open);\n  if(open){ context.set('doorOpened',true); clrClosed(); node.warn('[nfc] shed door opened'); }\n  else if(ds==='off' && context.get('doorOpened')){ startClosed(); }\n  return null;\n}\nreturn null;\n",
        "outputs": 6,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 120,
        "wires": [
            [
                "nfc-disarm-house"
            ],
            [
                "nfc-disarm-shed"
            ],
            [
                "nfc-arm-shed"
            ],
            [
                "nfc-tts"
            ],
            [
                "nfc-notify"
            ],
            [
                "nfc-status-by"
            ]
        ]
    },
    {
        "id": "nfc-disarm-house",
        "type": "api-call-service",
        "z": "657e6b8b07b4cdf7",
        "name": "Disarm house",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "alarm_control_panel.alarm_disarm",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "alarm_control_panel.house"
        ],
        "data": "{}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 760,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "nfc-disarm-shed",
        "type": "api-call-service",
        "z": "657e6b8b07b4cdf7",
        "name": "Disarm shed",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "alarm_control_panel.alarm_disarm",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "alarm_control_panel.shed"
        ],
        "data": "{}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 760,
        "y": 110,
        "wires": [
            []
        ]
    },
    {
        "id": "nfc-arm-shed",
        "type": "api-call-service",
        "z": "657e6b8b07b4cdf7",
        "name": "Re-arm shed (away)",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "alarm_control_panel.alarm_arm_away",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "alarm_control_panel.shed"
        ],
        "data": "{}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 770,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "nfc-tts",
        "type": "api-call-service",
        "z": "657e6b8b07b4cdf7",
        "name": "TTS all speakers",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "script.tts_announce",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"message\": payload.message, \"target_player\": \"media_player.home_audio_group_cast\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 765,
        "y": 210,
        "wires": [
            []
        ]
    },
    {
        "id": "nfc-dbg",
        "type": "debug",
        "z": "657e6b8b07b4cdf7",
        "name": "nfc",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.message",
        "statusType": "msg",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "nfc-shed-door",
        "type": "server-state-changed",
        "z": "657e6b8b07b4cdf7",
        "name": "shed door change",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.shed_door_contact"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "entityidfiltertype": "list",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "nfc-fn"
            ]
        ]
    },
    {
        "id": "nfc-notify",
        "type": "api-call-service",
        "z": "657e6b8b07b4cdf7",
        "name": "notify (per msg.payload)",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "{{payload.action}}",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 765,
        "y": 270,
        "wires": [
            []
        ]
    },
    {
        "id": "gn-inject",
        "type": "inject",
        "z": "657e6b8b07b4cdf7",
        "name": "22:00 nightly",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "gn-get"
            ]
        ]
    },
    {
        "id": "gn-get",
        "type": "ha-get-entities",
        "z": "657e6b8b07b4cdf7",
        "name": "states",
        "server": "ha-server",
        "version": 3,
        "rules": [],
        "outputType": "array",
        "outputEmptyResults": true,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 330,
        "y": 360,
        "wires": [
            [
                "gn-fn"
            ]
        ]
    },
    {
        "id": "gn-fn",
        "type": "function",
        "z": "657e6b8b07b4cdf7",
        "name": "nightly shed re-arm",
        "func": "// 22:00 nightly: arm the shed ONLY if it is disarmed AND the door is closed.\nconst ents=Array.isArray(msg.payload)?msg.payload:[];\nconst S=id=>{const e=ents.find(x=>x.entity_id===id);return e&&e.state;};\nconst shed=S('alarm_control_panel.shed');\nconst door=S('binary_sensor.shed_door_contact');   // on=open, off=closed\nif(shed==='disarmed' && door==='off'){\n  node.warn('[nfc] 22:00 nightly: shed disarmed + door closed -> arm');\n  return {};   // -> arm shed\n}\nreturn null;   // already armed, or door open -> do nothing\n",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "nfc-arm-shed"
            ]
        ]
    },
    {
        "id": "ih-watch",
        "type": "server-state-changed",
        "z": "tab-ih",
        "name": "Infra health entities",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "binary_sensor.node_proxmox_status",
                "binary_sensor.node_proxmox2_status",
                "sensor.node_proxmox_cpu_used",
                "sensor.node_proxmox2_cpu_used",
                "sensor.node_proxmox_memory_used_percentage",
                "sensor.node_proxmox2_memory_used_percentage",
                "sensor.node_proxmox_disk_used_percentage",
                "sensor.node_proxmox2_disk_used_percentage",
                "sensor.storage_proxmox_pbs_remote_vpn_disk_used_percentage",
                "binary_sensor.truenas_system_mainpool_healthy",
                "binary_sensor.truenas_system_boot_pool_healthy",
                "sensor.truenas_snapshot_tasks_mainpool",
                "sensor.truenas_disks_sda",
                "sensor.truenas_disks_sdb",
                "sensor.truenas_disks_sdc",
                "sensor.truenas_disks_sdd",
                "sensor.truenas_disks_sde",
                "binary_sensor.truenas_rsync_failures",
                "sensor.truenas_rsync_failed_paths",
                "binary_sensor.qemu_ubuntu_nextcloud_117_status",
                "sensor.qemu_ubuntu_nextcloud_117_cpu_used",
                "sensor.qemu_ubuntu_nextcloud_117_memory_free",
                "sensor.nextcloud_colfin22_net_free_space",
                "sensor.nextcloud_colfin22_net_updates_available",
                "binary_sensor.nextcloud_online",
                "binary_sensor.docker_online",
                "sensor.nextcloud_cpu",
                "sensor.docker_cpu",
                "sensor.nextcloud_memory",
                "sensor.docker_memory",
                "sensor.nextcloud_disk",
                "sensor.docker_disk",
                "sensor.nextcloud_package_count",
                "sensor.docker_package_count",
                "sensor.frigate_cctv_disk_usage",
                "binary_sensor.lxc_docker_frigate_107_status",
                "camera.doorbell",
                "camera.front_van",
                "camera.front_car",
                "camera.rear_door",
                "camera.rear_shed"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityId"
            },
            {
                "property": "ent",
                "propertyType": "msg",
                "value": "",
                "valueType": "entity"
            }
        ],
        "entityidfiltertype": "list",
        "x": 170,
        "y": 740,
        "wires": [
            [
                "ih-engine"
            ]
        ]
    },
    {
        "id": "ih-engine",
        "type": "function",
        "z": "tab-ih",
        "name": "Rule engine",
        "func": "\nconst H='Health';\nconst NAMES={'camera.doorbell':'Doorbell','camera.front_van':'Front Van','camera.front_car':'Front Car','camera.rear_door':'Rear Door','camera.rear_shed':'Rear Shed'};\nfunction r1(s){var n=parseFloat(s);return isNaN(n)?s:Math.round(n*10)/10;}\nfunction r0(s){var n=parseFloat(s);return isNaN(n)?s:Math.round(n);}\nfunction r2(s){var n=parseFloat(s);return isNaN(n)?s:Math.round(n*100)/100;}\nconst FIVE=5*60*1000, TWO=2*60*1000;\nconst RULES={\n 'binary_sensor.node_proxmox_status':{cat:H,sub:'Proxmox',op:'eq',val:'off',m:function(s){return 'Node 1 (proxmox) is offline';}},\n 'binary_sensor.node_proxmox2_status':{cat:H,sub:'Proxmox',op:'eq',val:'off',m:function(s){return 'Node 2 (proxmox2) is offline';}},\n 'sensor.node_proxmox_cpu_used':{cat:H,sub:'Proxmox',op:'gt',val:85,for:FIVE,m:function(s){return 'Node 1 CPU high: '+r1(s)+'%';}},\n 'sensor.node_proxmox2_cpu_used':{cat:H,sub:'Proxmox',op:'gt',val:85,for:FIVE,m:function(s){return 'Node 2 CPU high: '+r1(s)+'%';}},\n 'sensor.node_proxmox_memory_used_percentage':{cat:H,sub:'Proxmox',op:'gt',val:85,m:function(s){return 'Node 1 memory high: '+r1(s)+'%';}},\n 'sensor.node_proxmox2_memory_used_percentage':{cat:H,sub:'Proxmox',op:'gt',val:85,m:function(s){return 'Node 2 memory high: '+r1(s)+'%';}},\n 'sensor.node_proxmox_disk_used_percentage':{cat:H,sub:'Proxmox',op:'gt',val:85,m:function(s){return 'Node 1 disk high: '+r1(s)+'%';}},\n 'sensor.node_proxmox2_disk_used_percentage':{cat:H,sub:'Proxmox',op:'gt',val:85,m:function(s){return 'Node 2 disk high: '+r1(s)+'%';}},\n 'sensor.storage_proxmox_pbs_remote_vpn_disk_used_percentage':{cat:H,sub:'Proxmox',op:'gt',val:80,m:function(s){return 'PBS remote VPN storage at '+r1(s)+'% — consider pruning backups';}},\n 'binary_sensor.truenas_system_mainpool_healthy':{cat:H,sub:'TrueNAS',op:'eq',val:'off',m:function(s){return 'MainPool is unhealthy — check pool status immediately';}},\n 'binary_sensor.truenas_system_boot_pool_healthy':{cat:H,sub:'TrueNAS',op:'eq',val:'off',m:function(s){return 'Boot pool is unhealthy — check boot pool status';}},\n 'sensor.truenas_snapshot_tasks_mainpool':{cat:H,sub:'TrueNAS',op:'in',val:['ERROR','FAILED','ABORTED'],m:function(s){return 'Snapshot task failed — status: '+s;}},\n 'sensor.truenas_disks_sda':{cat:H,sub:'TrueNAS',op:'gt',val:45,for:FIVE,m:function(s,n){return 'Disk temperature warning: '+(n||'disk')+' is '+r0(s)+'°C';}},\n 'sensor.truenas_disks_sdb':{cat:H,sub:'TrueNAS',op:'gt',val:45,for:FIVE,m:function(s,n){return 'Disk temperature warning: '+(n||'disk')+' is '+r0(s)+'°C';}},\n 'sensor.truenas_disks_sdc':{cat:H,sub:'TrueNAS',op:'gt',val:45,for:FIVE,m:function(s,n){return 'Disk temperature warning: '+(n||'disk')+' is '+r0(s)+'°C';}},\n 'sensor.truenas_disks_sdd':{cat:H,sub:'TrueNAS',op:'gt',val:45,for:FIVE,m:function(s,n){return 'Disk temperature warning: '+(n||'disk')+' is '+r0(s)+'°C';}},\n 'sensor.truenas_disks_sde':{cat:H,sub:'TrueNAS',op:'gt',val:45,for:FIVE,m:function(s,n){return 'Disk temperature warning: '+(n||'disk')+' is '+r0(s)+'°C';}},\n 'binary_sensor.truenas_rsync_failures':{cat:H,sub:'TrueNAS',op:'eq',val:'on',m:function(s){return 'Rsync task failure — '+(flow.get('rsync_paths')||'check failed paths');}},\n 'binary_sensor.qemu_ubuntu_nextcloud_117_status':{cat:H,sub:'Nextcloud',op:'eq',val:'off',m:function(s){return 'Nextcloud VM is offline';}},\n 'sensor.qemu_ubuntu_nextcloud_117_cpu_used':{cat:H,sub:'Nextcloud',op:'gt',val:85,for:FIVE,m:function(s){return 'Nextcloud VM CPU high: '+r1(s)+'%';}},\n 'sensor.qemu_ubuntu_nextcloud_117_memory_free':{cat:H,sub:'Nextcloud',op:'lt',val:0.25,m:function(s){return 'Nextcloud VM memory low: '+r2(s)+' GB free';}},\n 'sensor.nextcloud_colfin22_net_free_space':{cat:H,sub:'Nextcloud',op:'lt',val:500,m:function(s){return 'Nextcloud storage low: '+(Math.round(parseFloat(s)/1024*10)/10)+' TB free';}},\n 'sensor.nextcloud_colfin22_net_updates_available':{cat:H,sub:'Nextcloud',op:'gt',val:0,m:function(s){return s+' Nextcloud app update(s) available';}},\n 'binary_sensor.nextcloud_online':{cat:H,sub:'Ubuntu-VM',op:'eq',val:'off',m:function(s){return 'Nextcloud VM is offline';}},\n 'binary_sensor.docker_online':{cat:H,sub:'Ubuntu-VM',op:'eq',val:'off',m:function(s){return 'Docker VM is offline';}},\n 'sensor.nextcloud_cpu':{cat:H,sub:'Ubuntu-VM',op:'gt',val:85,for:FIVE,m:function(s){return 'Nextcloud VM CPU high: '+r1(s)+'%';}},\n 'sensor.docker_cpu':{cat:H,sub:'Ubuntu-VM',op:'gt',val:85,for:FIVE,m:function(s){return 'Docker VM CPU high: '+r1(s)+'%';}},\n 'sensor.nextcloud_memory':{cat:H,sub:'Ubuntu-VM',op:'gt',val:85,m:function(s){return 'Nextcloud VM memory high: '+r1(s)+'%';}},\n 'sensor.docker_memory':{cat:H,sub:'Ubuntu-VM',op:'gt',val:85,m:function(s){return 'Docker VM memory high: '+r1(s)+'%';}},\n 'sensor.nextcloud_disk':{cat:H,sub:'Ubuntu-VM',op:'gt',val:85,m:function(s){return 'Nextcloud VM disk high: '+r1(s)+'%';}},\n 'sensor.docker_disk':{cat:H,sub:'Ubuntu-VM',op:'gt',val:85,m:function(s){return 'Docker VM disk high: '+r1(s)+'%';}},\n 'sensor.nextcloud_package_count':{cat:H,sub:'Ubuntu-VM',op:'gt',val:0,m:function(s){return 'Nextcloud VM has '+s+' pending package update(s)';}},\n 'sensor.docker_package_count':{cat:H,sub:'Ubuntu-VM',op:'gt',val:0,m:function(s){return 'Docker VM has '+s+' pending package update(s)';}},\n 'sensor.frigate_cctv_disk_usage':{cat:H,sub:'Frigate',op:'gt',val:85,for:FIVE,m:function(s){return 'Frigate CCTV disk is at '+s+'%. Check recording retention before storage fills up.';}},\n 'binary_sensor.lxc_docker_frigate_107_status':{cat:H,sub:'Frigate',op:'eq',val:'off',for:TWO,m:function(s){return 'Frigate has been offline for 2 minutes. Check the LXC container on Proxmox.';}},\n 'camera.doorbell':{cat:H,sub:'Frigate',op:'eq',val:'unavailable',for:TWO,m:function(s){return NAMES['camera.doorbell']+' has been unavailable for 2 minutes.';}},\n 'camera.front_van':{cat:H,sub:'Frigate',op:'eq',val:'unavailable',for:TWO,m:function(s){return NAMES['camera.front_van']+' has been unavailable for 2 minutes.';}},\n 'camera.front_car':{cat:H,sub:'Frigate',op:'eq',val:'unavailable',for:TWO,m:function(s){return NAMES['camera.front_car']+' has been unavailable for 2 minutes.';}},\n 'camera.rear_door':{cat:H,sub:'Frigate',op:'eq',val:'unavailable',for:TWO,m:function(s){return NAMES['camera.rear_door']+' has been unavailable for 2 minutes.';}},\n 'camera.rear_shed':{cat:H,sub:'Frigate',op:'eq',val:'unavailable',for:TWO,m:function(s){return NAMES['camera.rear_shed']+' has been unavailable for 2 minutes.';}},\n};\n\nvar ent=msg.topic, state=msg.payload;\nif(ent==='sensor.truenas_rsync_failed_paths'){flow.set('rsync_paths',state);return null;}\nvar rule=RULES[ent];\nif(!rule)return null;\nvar fired=context.get('fired')||{};\nvar timers=context.get('timers')||{};\nfunction test(){\n  if(rule.op==='eq')return state===rule.val;\n  if(rule.op==='in')return rule.val.indexOf(state)>=0;\n  var n=parseFloat(state); if(isNaN(n))return false;\n  if(rule.op==='gt')return n>rule.val;\n  if(rule.op==='lt')return n<rule.val;\n  return false;\n}\nvar active=test();\nvar fname=(msg.ent&&msg.ent.attributes&&msg.ent.attributes.friendly_name)||ent.replace('sensor.truenas_disks_','');\nfunction emit(nm){node.send({cat:rule.cat,sub:rule.sub,message:rule.m(state,nm),tag:rule.sub+'_'+ent});}\nif(rule.for){\n  if(active){\n    if(fired[ent])return null;\n    if(timers[ent])return null;\n    var capName=fname;\n    timers[ent]=setTimeout(function(){\n      var tm=context.get('timers')||{};delete tm[ent];context.set('timers',tm);\n      var fr=context.get('fired')||{};fr[ent]=true;context.set('fired',fr);\n      emit(capName);\n    },rule.for);\n    context.set('timers',timers);\n  }else{\n    if(timers[ent]){clearTimeout(timers[ent]);delete timers[ent];context.set('timers',timers);}\n    if(fired[ent]){fired[ent]=false;context.set('fired',fired);}\n  }\n}else{\n  if(active){\n    if(fired[ent])return null;\n    fired[ent]=true;context.set('fired',fired);\n    emit(fname);\n  }else{\n    if(fired[ent]){fired[ent]=false;context.set('fired',fired);}\n  }\n}\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 740,
        "wires": [
            [
                "ih-send"
            ]
        ]
    },
    {
        "id": "ih-send",
        "type": "function",
        "z": "tab-ih",
        "name": "Quiet-hours send",
        "func": "\nfunction dub(){return new Date().toLocaleString('en-IE',{timeZone:'Europe/Dublin',hour12:false});}\nfunction dhour(){return parseInt(new Date().toLocaleString('en-IE',{timeZone:'Europe/Dublin',hour:'2-digit',hour12:false}),10);}\nfunction quiet(){var h=dhour();return (h>=22||h<7);}\nfunction hhmm(ts){return new Date(ts).toLocaleTimeString('en-IE',{timeZone:'Europe/Dublin',hour:'2-digit',minute:'2-digit'});}\n\nif(msg.topic==='flush'){\n  var held=context.get('held')||[];\n  context.set('held',[]);\n  if(!held.length)return null;\n  var nots=[],logs=[];\n  held.forEach(function(e){\n    nots.push({title:e.title+' (triggered '+hhmm(e.firedAt)+')',message:e.message,ndata:e.ndata});\n    logs.push({payload:dub()+'  [flush] '+e.title+' — '+e.message+'\\n'});\n  });\n  node.send([nots,logs]);\n  return null;\n}\n\nvar cat=msg.cat, sub=msg.sub, message=msg.message;\nif(!cat||!message)return null;\nvar title='['+cat+'] '+sub;\nvar tagsrc='ih_'+(msg.tag||sub);\nvar ndata={tag:tagsrc.toString().replace(/[^A-Za-z0-9_]/g,'_'),channel:cat,group:cat};\nif(global.get('maintenance_mode')){\n  node.send([null,{payload:dub()+'  [maint-dropped] '+title+' — '+message+'\\n'}]);\n  return null;\n}\nif(quiet()){\n  var held=context.get('held')||[];\n  held.push({title:title,message:message,ndata:ndata,firedAt:Date.now()});\n  context.set('held',held);\n  node.send([null,{payload:dub()+'  [quiet-held] '+title+' — '+message+'\\n'}]);\n  return null;\n}\nnode.send([{title:title,message:message,ndata:ndata},{payload:dub()+'  '+title+' — '+message+'\\n'}]);\nreturn null;\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 640,
        "wires": [
            [
                "ih-notify"
            ],
            [
                "ih-logfile"
            ]
        ]
    },
    {
        "id": "ih-notify",
        "type": "api-call-service",
        "z": "tab-ih",
        "name": "Notify Colm (np3)",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "notify.mobile_app_np3",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\": msg.title, \"message\": msg.message, \"data\": $merge([msg.ndata ? msg.ndata : {}, {\"notification_icon\": \"mdi:server\"}])}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1410,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ih-logfile",
        "type": "file",
        "z": "tab-ih",
        "name": "ih log",
        "filename": "/data/infra_health.log",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1130,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "ih-cron",
        "type": "inject",
        "z": "tab-ih",
        "name": "07:00 flush",
        "props": [
            {
                "p": "topic",
                "v": "flush",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 7 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "flush",
        "x": 270,
        "y": 640,
        "wires": [
            [
                "ih-send"
            ]
        ]
    },
    {
        "id": "ih-b-tn-in",
        "type": "http in",
        "z": "tab-ih",
        "name": "TrueNAS backup",
        "url": "/ih-truenas-backup",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "ih-b-tn-fn",
                "ih-b-tn-resp"
            ]
        ]
    },
    {
        "id": "ih-b-tn-resp",
        "type": "http response",
        "z": "tab-ih",
        "name": "200",
        "statusCode": "200",
        "headers": {},
        "x": 410,
        "y": 400,
        "wires": []
    },
    {
        "id": "ih-b-tn-fn",
        "type": "function",
        "z": "tab-ih",
        "name": "TrueNAS backup build",
        "func": "\nvar b=msg.payload; if(typeof b==='string'){try{b=JSON.parse(b);}catch(e){b={};}}\nvar st=(b.status||'').toLowerCase();\nvar detail;\nif(st==='updated')detail='Updated — config saved to GitHub ('+(b.size||'?')+') at '+(b.timestamp||'?')+'.';\nelse if(st==='unchanged')detail='Unchanged — no changes since last backup ('+(b.timestamp||'?')+').';\nelse detail='FAILED — '+(b.error||'Unknown error');\nreturn {cat:'Backup',sub:'TrueNAS-config',message:detail,tag:'tnconfig'};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 360,
        "wires": [
            [
                "ih-send"
            ]
        ]
    },
    {
        "id": "ih-b-mt-in",
        "type": "http in",
        "z": "tab-ih",
        "name": "MikroTik backup",
        "url": "/ih-mikrotik-backup",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "ih-b-mt-fn",
                "ih-b-mt-resp"
            ]
        ]
    },
    {
        "id": "ih-b-mt-resp",
        "type": "http response",
        "z": "tab-ih",
        "name": "200",
        "statusCode": "200",
        "headers": {},
        "x": 410,
        "y": 320,
        "wires": []
    },
    {
        "id": "ih-b-mt-fn",
        "type": "function",
        "z": "tab-ih",
        "name": "MikroTik backup build",
        "func": "\nvar b=msg.payload; if(typeof b==='string'){try{b=JSON.parse(b);}catch(e){b={};}}\nvar t=b.title||'', m=b.message||'';\nreturn {cat:'Backup',sub:'MikroTik',message:(t?t+' — ':'')+m,tag:'mikrotik'};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 280,
        "wires": [
            [
                "ih-send"
            ]
        ]
    },
    {
        "id": "ih-b-restic-in",
        "type": "http in",
        "z": "tab-ih",
        "name": "Restic failed",
        "url": "/ih-restic-failed",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "ih-b-restic-fn",
                "ih-b-restic-resp"
            ]
        ]
    },
    {
        "id": "ih-b-restic-resp",
        "type": "http response",
        "z": "tab-ih",
        "name": "200",
        "statusCode": "200",
        "headers": {},
        "x": 410,
        "y": 480,
        "wires": []
    },
    {
        "id": "ih-b-restic-fn",
        "type": "function",
        "z": "tab-ih",
        "name": "Restic failed build",
        "func": "\nvar b=msg.payload; if(typeof b==='string'){try{b=JSON.parse(b);}catch(e){b={};}}\nvar ds=b.dataset||'unknown';\nreturn {cat:'Backup',sub:'Restic',message:'Restic backup for '+ds+' on TrueNAS failed. Check /mnt/MainPool/logs/restic_'+ds+'.log',tag:'restic_'+ds};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 440,
        "wires": [
            [
                "ih-send"
            ]
        ]
    },
    {
        "id": "ih-b-zbx-in",
        "type": "http in",
        "z": "tab-ih",
        "name": "Zabbix alert",
        "url": "/ih-zabbix",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "ih-b-zbx-fn",
                "ih-b-zbx-resp"
            ]
        ]
    },
    {
        "id": "ih-b-zbx-resp",
        "type": "http response",
        "z": "tab-ih",
        "name": "200",
        "statusCode": "200",
        "headers": {},
        "x": 410,
        "y": 560,
        "wires": []
    },
    {
        "id": "ih-b-zbx-fn",
        "type": "function",
        "z": "tab-ih",
        "name": "Zabbix alert build",
        "func": "\nvar b=msg.payload; if(typeof b==='string'){try{b=JSON.parse(b);}catch(e){b={};}}\nvar detail=(b.status||'?')+': '+(b.name||'?')+' — '+(b.host||'?')+' ['+(b.severity||'?')+'] — '+(b.message||'');\nreturn {cat:'Monitoring',sub:'Zabbix',message:detail,tag:'zabbix_'+((b.name||b.host||'evt'))};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 520,
        "wires": [
            [
                "ih-send"
            ]
        ]
    },
    {
        "id": "bk-inj",
        "type": "inject",
        "z": "tab-ih",
        "name": "07:30 daily + manual",
        "props": [
            {
                "p": "topic",
                "v": "backup-check",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 7 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "backup-check",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "bk-build"
            ]
        ]
    },
    {
        "id": "bk-build",
        "type": "function",
        "z": "tab-ih",
        "name": "Build PVE task requests",
        "func": "const tok = env.get(\"PVE_API_TOKEN\"); // full PVEAPIToken=... string, from gitignored .env\nconst base = \"https://10.0.0.251:8006/api2/json/nodes/\";\nconst q = \"/tasks?typefilter=vzdump&limit=8&source=archive\";\nconst mk = (n) => ({ url: base + n + q, headers: { Authorization: tok }, node: n, topic: \"pve\" });\nnode.send([[ mk(\"proxmox\"), mk(\"proxmox2\") ]]);\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 140,
        "wires": [
            [
                "bk-http"
            ]
        ]
    },
    {
        "id": "bk-http",
        "type": "http request",
        "z": "tab-ih",
        "name": "GET vzdump tasks",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "tls-insecure",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 140,
        "wires": [
            [
                "bk-wrap"
            ]
        ]
    },
    {
        "id": "bk-wrap",
        "type": "function",
        "z": "tab-ih",
        "name": "wrap {node,tasks}",
        "func": "msg.payload = { node: msg.node, tasks: (msg.payload && msg.payload.data) || [] };\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 220,
        "wires": [
            [
                "bk-join"
            ]
        ]
    },
    {
        "id": "bk-join",
        "type": "join",
        "z": "tab-ih",
        "name": "collect both nodes",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1060,
        "y": 320,
        "wires": [
            [
                "bk-sum"
            ]
        ]
    },
    {
        "id": "bk-sum",
        "type": "function",
        "z": "tab-ih",
        "name": "Evaluate (alert only on fail)",
        "func": "const now = Date.now()/1000;\nconst WINDOW = 26*3600;\nconst labels = {proxmox:'node1 (proxmox)', proxmox2:'node2 (proxmox2)'};\nconst fmt = (e) => new Date(e*1000).toLocaleString('en-IE',{timeZone:'Europe/Dublin',weekday:'short',hour:'2-digit',minute:'2-digit'});\nlet problems = [];\nfor (const r of msg.payload) {\n  const lbl = labels[r.node] || r.node;\n  const done = (r.tasks||[]).filter(t => t.endtime);\n  const recent = done.filter(t => (now - t.endtime) < WINDOW);\n  if (recent.length === 0) { problems.push('\\u2022 ' + lbl + ': no backup completed in last 26h'); continue; }\n  const failed = recent.filter(t => t.status !== 'OK');\n  for (const f of failed) problems.push('\\u2022 ' + lbl + ': backup ended \\u201c' + f.status + '\\u201d at ' + fmt(f.endtime));\n}\nconst stamp = new Date().toLocaleTimeString('en-IE',{timeZone:'Europe/Dublin',hour:'2-digit',minute:'2-digit'});\nif (problems.length === 0) { node.status({fill:'green',shape:'dot',text:'all OK '+stamp}); return null; }\nnode.status({fill:'red',shape:'dot',text:problems.length+' issue(s) '+stamp});\nmsg.cat = 'Backup';\nmsg.sub = 'Proxmox';\nmsg.message = problems.join('\\n');\nmsg.tag = 'proxmox_backup';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 420,
        "wires": [
            [
                "ih-send"
            ]
        ]
    },
    {
        "id": "mnt-watch",
        "type": "server-state-changed",
        "z": "tab-ih",
        "name": "maintenance_mode",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "entities": {
            "entity": [
                "input_boolean.maintenance_mode"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "entityidfiltertype": "list",
        "x": 170,
        "y": 860,
        "wires": [
            [
                "mnt-store"
            ]
        ]
    },
    {
        "id": "mnt-store",
        "type": "function",
        "z": "tab-ih",
        "name": "store maint state",
        "func": "const D=(msg.payload&&msg.payload.new_state)?msg.payload.new_state.state:msg.payload;\nconst on=(D==='on');\nglobal.set('maintenance_mode',on);\nnode.warn('[maint] maintenance_mode='+D);\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "mnt-init",
        "type": "inject",
        "z": "tab-ih",
        "name": "seed maint (2s + 120s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": 2,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "mnt-get"
            ]
        ]
    },
    {
        "id": "mnt-get",
        "type": "ha-get-entities",
        "z": "tab-ih",
        "name": "get maintenance_mode",
        "server": "ha-server",
        "version": 3,
        "rules": [
            {
                "property": "entity_id",
                "logic": "is",
                "value": "input_boolean.maintenance_mode",
                "valueType": "str"
            }
        ],
        "outputType": "array",
        "outputEmptyResults": true,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 490,
        "y": 60,
        "wires": [
            [
                "mnt-seed"
            ]
        ]
    },
    {
        "id": "mnt-seed",
        "type": "function",
        "z": "tab-ih",
        "name": "seed maint state",
        "func": "const ents=Array.isArray(msg.payload)?msg.payload:[];\nconst e=ents.find(x=>x.entity_id==='input_boolean.maintenance_mode');\nconst on=!!e&&e.state==='on';\nconst prev=global.get('maintenance_mode');\nglobal.set('maintenance_mode',on);\nif(prev===undefined||prev!==on)node.warn('[maint] seed maintenance_mode='+(on?'on':'off'));\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "esbn-cron",
        "type": "inject",
        "z": "tab-ih",
        "name": "ESBN staleness hourly",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 30,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1100,
        "wires": [
            [
                "esbn-get"
            ]
        ]
    },
    {
        "id": "esbn-get",
        "type": "ha-get-entities",
        "z": "tab-ih",
        "name": "get esbn_last_update",
        "server": "ha-server",
        "version": 3,
        "rules": [
            {
                "property": "entity_id",
                "logic": "is",
                "value": "sensor.esbn_meter_6830cfea50b0_esbn_last_update",
                "valueType": "str"
            }
        ],
        "outputType": "array",
        "outputEmptyResults": true,
        "outputLocationType": "msg",
        "outputLocation": "payload",
        "outputResultsCount": 1,
        "x": 540,
        "y": 1100,
        "wires": [
            [
                "esbn-fn"
            ]
        ]
    },
    {
        "id": "esbn-fn",
        "type": "function",
        "z": "tab-ih",
        "name": "ESBN stale check (>13h)",
        "func": "// Add-on polls every 6h; >13h since last successful poll = two misses = stuck\n// (04-07-2026: portal ReadTimeout crashed the add-on, sensors froze 2 days unseen).\n// NB data_lag (meter-read age, up to ~4 days) is normal - we check the POLL time.\nvar LIMIT_H = 13;\nvar REALERT_MS = 6*60*60*1000; // re-alert at most every 6h while still stale\nvar ents = msg.payload || [];\nvar st = ents.length ? ents[0].state : null;\nvar ageH = null;\nif (st && st !== 'unknown' && st !== 'unavailable') {\n    var t = Date.parse(st);\n    if (!isNaN(t)) ageH = (Date.now() - t) / 3600000;\n}\nvar stale = (ageH === null) || (ageH > LIMIT_H);\nif (!stale) { context.set('lastAlert', 0); return null; }\nvar last = context.get('lastAlert') || 0;\nif (Date.now() - last < REALERT_MS) return null;\ncontext.set('lastAlert', Date.now());\nvar detail = (ageH === null)\n  ? 'esbn_last_update sensor is ' + (st || 'missing') + ' - add-on may be dead.'\n  : 'Last successful ESBN poll was ' + ageH.toFixed(1) + 'h ago (6h cycle, limit ' + LIMIT_H + 'h). Add-on likely crashed on a portal timeout - check/restart esbn-to-mqtt.';\nreturn {cat: 'Service', sub: 'ESBN add-on', message: detail, tag: 'esbn_stale'};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1100,
        "wires": [
            [
                "ih-send"
            ]
        ]
    },
    {
        "id": "nrb-in",
        "type": "http in",
        "z": "tab-ih",
        "name": "NR backup alert",
        "url": "/nr-backup-alert",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 940,
        "wires": [
            [
                "nrb-fn",
                "nrb-resp"
            ]
        ]
    },
    {
        "id": "nrb-resp",
        "type": "http response",
        "z": "tab-ih",
        "name": "200",
        "statusCode": "200",
        "headers": {},
        "x": 290,
        "y": 1020,
        "wires": []
    },
    {
        "id": "nrb-fn",
        "type": "function",
        "z": "tab-ih",
        "name": "NR backup build",
        "func": "var b=msg.payload; if(typeof b==='string'){try{b=JSON.parse(b);}catch(e){b={message:b};}}\nreturn {cat:'Backup', sub:'Node-RED repo', message:(b&&b.message)||'Node-RED git backup reported a problem.', tag:'nr_backup'};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 940,
        "wires": [
            [
                "ih-send"
            ]
        ]
    },
    {
        "id": "iw-http",
        "type": "http in",
        "z": "tab-iw",
        "name": "POST /uk-event",
        "url": "/uk-event",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "iw-engine",
                "iw-resp"
            ]
        ]
    },
    {
        "id": "iw-resp",
        "type": "http response",
        "z": "tab-iw",
        "name": "200",
        "statusCode": "200",
        "headers": {},
        "x": 170,
        "y": 340,
        "wires": []
    },
    {
        "id": "iw-engine",
        "type": "function",
        "z": "tab-iw",
        "name": "Escalation engine",
        "func": "\nconst GRACE=90*1000, T2=10*60*1000, T3=15*60*1000, T3_SLOW=60*60*1000, MULTI=3;\nconst CORE={'Home Assistant':1,'MQTT broker':1,'Pi-hole primary':1,'proxmox1':1,'proxmox2':1,'proxmox-remote':1,'TrueNAS':1,'MikroTik RB5009 (gateway)':1};\nfunction dub(){return new Date().toLocaleString('en-IE',{timeZone:'Europe/Dublin',hour12:false});}\nfunction dhour(){return parseInt(new Date().toLocaleString('en-IE',{timeZone:'Europe/Dublin',hour:'2-digit',hour12:false}),10);}\nfunction quiet(){var h=dhour();return (h>=22||h<7);}\nfunction hhmm(ts){return new Date(ts).toLocaleTimeString('en-IE',{timeZone:'Europe/Dublin',hour:'2-digit',minute:'2-digit'});}\nfunction dur(ms){var m=Math.max(1,Math.round(ms/60000));if(m<60)return m+'m';return Math.floor(m/60)+'h'+(m%60)+'m';}\nfunction durWords(ms){var m=Math.max(1,Math.round(ms/60000));var h=Math.floor(m/60),mm=m%60;var pp=[];if(h)pp.push(h+' hour'+(h>1?'s':''));if(mm||!h)pp.push(mm+' minute'+(mm===1?'':'s'));return pp.join(' and ');}\nfunction phone(t,m,tag){if(global.get('maintenance_mode')){log('[maint-suppressed] '+t+' — '+m);return;}node.send([{title:t,message:m,ndata:{tag:tag||'infra',channel:'Infra'}},null,null]);}\nfunction tts(m){if(global.get('maintenance_mode')){log('[maint-suppressed-tts] '+m);return;}node.send([null,{message:m},null]);}\nfunction log(s){node.send([null,null,{payload:dub()+'  '+s+'\\n'}]);}\nfunction countDown(){return Object.keys(context.get('S')||{}).length;}\nfunction clr(mon){var T=context.get('T')||{};var t=T[mon];if(t){if(t.grace)clearTimeout(t.grace);if(t.t2)clearTimeout(t.t2);if(t.t3)clearInterval(t.t3);delete T[mon];context.set('T',T);}}\n\nif(msg && msg.topic==='flush'){\n  var S=context.get('S')||{}, ON=context.get('ON')||[], lines=[];\n  for(var m in S){lines.push('• '+m+' still DOWN since '+hhmm(S[m].downSince));}\n  ON.filter(function(e){return e.type==='recovered';}).forEach(function(e){lines.push('• '+e.mon+' was down '+hhmm(e.from)+'–'+hhmm(e.to)+' (recovered)');});\n  if(lines.length){phone('🔧 Overnight infra summary',lines.join('\\n'),'infra_summary');log('[7am] '+lines.length+' item(s)');}\n  context.set('ON',[]);\n  return null;\n}\n\nvar p=msg.payload||{};\nvar mon=(p.monitor&&p.monitor.name)||p.name;\nif(!mon) return null;\nif((p.monitor&&p.monitor.type==='group')||({'Infra':1,'Services':1,'Network':1})[mon]) return null;\nvar st=(p.heartbeat&&p.heartbeat.status); if(st===undefined&&p.status!==undefined)st=p.status;\nvar core=!!CORE[mon];\nvar S=context.get('S')||{};\n\nif(st===0||st==='0'){\n  if(S[mon]) return null;\n  S[mon]={downSince:Date.now(),tier:0,core:core}; context.set('S',S);\n  var T=context.get('T')||{}; T[mon]={}; context.set('T',T);\n  log('[down-rcv] '+mon+(core?' (core)':''));\n  T[mon].grace=setTimeout(function(){\n    var S=context.get('S')||{}; if(!S[mon])return;\n    S[mon].tier=1; context.set('S',S);\n    if(quiet()){var ON=context.get('ON')||[];ON.push({type:'down',mon:mon,from:S[mon].downSince});context.set('ON',ON);log('[quiet] '+mon+' down held');}\n    else{phone((core?'🔴':'⚠️')+' '+mon+' is DOWN',mon+' down ~90s (since '+hhmm(S[mon].downSince)+').','infra_'+mon);log('[tier1] '+mon);}\n  },GRACE);\n  T[mon].t2=setTimeout(function(){\n    var S=context.get('S')||{}; if(!S[mon])return;\n    S[mon].tier=2; context.set('S',S);\n    if(quiet())return;\n    phone((core?'🔴':'⚠️')+' '+mon+' STILL DOWN',mon+' down '+dur(Date.now()-S[mon].downSince)+'.','infra_'+mon);\n    tts('Attention. '+mon+' has been down for '+durWords(Date.now()-S[mon].downSince)+'.');\n    log('[tier2] '+mon+' phone+tts');\n    var T=context.get('T')||{};\n    if(T[mon]&&!T[mon].t3){var iv=(core||countDown()>=MULTI)?T3:T3_SLOW;\n      T[mon].t3=setInterval(function(){\n        var S=context.get('S')||{}; if(!S[mon])return; if(quiet())return;\n        phone('🔴 '+mon+' STILL DOWN',mon+' down '+dur(Date.now()-S[mon].downSince)+'.','infra_'+mon);\n        tts(mon+' is still down after '+durWords(Date.now()-S[mon].downSince)+'.');\n        log('[tier3] '+mon+' repeat');\n      },iv);\n      context.set('T',T);\n    }\n  },T2);\n  context.set('T',T);\n}else if(st===1||st==='1'){\n  if(!S[mon])return null;\n  var ds=S[mon].downSince, tier=S[mon].tier;\n  clr(mon); delete S[mon]; context.set('S',S);\n  if(quiet()){var ON=context.get('ON')||[];ON.push({type:'recovered',mon:mon,from:ds,to:Date.now()});context.set('ON',ON);log('[quiet] '+mon+' recovered');}\n  else if(tier>=1){phone('✅ '+mon+' recovered',mon+' back up after '+dur(Date.now()-ds)+'.','infra_'+mon);if(tier>=2)tts(mon+' is back online, after '+durWords(Date.now()-ds)+' down.');log('[recovered] '+mon+(tier>=2?' (+tts)':''));}\n  else{log('[up] '+mon+' (within grace)');}\n}\nreturn null;\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 200,
        "wires": [
            [
                "iw-notify"
            ],
            [
                "iw-colm-home"
            ],
            [
                "iw-logfile"
            ]
        ]
    },
    {
        "id": "iw-notify",
        "type": "api-call-service",
        "z": "tab-iw",
        "name": "Notify Colm (np3)",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "notify.mobile_app_np3",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "{\"title\": msg.title, \"message\": msg.message, \"data\": $merge([msg.ndata ? msg.ndata : {}, {\"notification_icon\": \"mdi:server-network\"}])}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 970,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "iw-colm-home",
        "type": "api-current-state",
        "z": "tab-iw",
        "name": "Colm home?",
        "server": "ha-server",
        "version": 3,
        "outputs": 2,
        "halt_if": "home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "person.colm_finn",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "x": 830,
        "y": 260,
        "wires": [
            [
                "iw-tts"
            ],
            []
        ]
    },
    {
        "id": "iw-tts",
        "type": "api-call-service",
        "z": "tab-iw",
        "name": "TTS home audio",
        "server": "ha-server",
        "version": 7,
        "debugenabled": false,
        "action": "script.tts_announce",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"message\": msg.message, \"target_player\": \"media_player.home_audio_group_cast\"}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "x": 1150,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "iw-logfile",
        "type": "file",
        "z": "tab-iw",
        "name": "iw log",
        "filename": "/data/infra_watchdog.log",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 830,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "iw-cron",
        "type": "inject",
        "z": "tab-iw",
        "name": "07:00 flush",
        "props": [
            {
                "p": "topic",
                "v": "flush",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 7 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "flush",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "iw-engine"
            ]
        ]
    },
    {
        "id": "nfc-status-by",
        "type": "api-call-service",
        "z": "657e6b8b07b4cdf7",
        "name": "write alarm status by",
        "server": "ha-server",
        "version": 5,
        "debugenabled": false,
        "action": "input_text.set_value",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_text.alarm_status_by"
        ],
        "data": "{\"value\": msg.statusBy}",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 870,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "iw-maint-off",
        "type": "server-state-changed",
        "z": "tab-iw",
        "name": "maintenance_mode off?",
        "server": "ha-server",
        "version": 6,
        "outputs": 1,
        "entities": {
            "entity": [
                "input_boolean.maintenance_mode"
            ],
            "substring": "",
            "regex": ""
        },
        "outputInitially": false,
        "stateType": "str",
        "outputOnlyOnStateChange": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "entityidfiltertype": "list",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "iw-maint-gate"
            ]
        ]
    },
    {
        "id": "iw-maint-gate",
        "type": "function",
        "z": "tab-iw",
        "name": "on->off only",
        "func": "var p=msg.payload||{};\nvar ns=p.new_state&&p.new_state.state, os=p.old_state&&p.old_state.state;\nif(ns!=='off'||os!=='on')return null;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "iw-sp-req"
            ]
        ]
    },
    {
        "id": "iw-sp-req",
        "type": "http request",
        "z": "tab-iw",
        "name": "UK status-page config",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://10.0.0.209:3001/api/status-page/homelab",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 300,
        "wires": [
            [
                "iw-sp-map"
            ]
        ]
    },
    {
        "id": "iw-sp-map",
        "type": "function",
        "z": "tab-iw",
        "name": "id->name map",
        "func": "var map={};\n((msg.payload&&msg.payload.publicGroupList)||[]).forEach(function(g){(g.monitorList||[]).forEach(function(m){map[m.id]=m.name;});});\nmsg.idmap=map;\ndelete msg.payload;delete msg.headers;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 300,
        "wires": [
            [
                "iw-hb-req"
            ]
        ]
    },
    {
        "id": "iw-hb-req",
        "type": "http request",
        "z": "tab-iw",
        "name": "UK heartbeats",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://10.0.0.209:3001/api/status-page/heartbeat/homelab",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 300,
        "wires": [
            [
                "iw-reconcile"
            ]
        ]
    },
    {
        "id": "iw-reconcile",
        "type": "function",
        "z": "tab-iw",
        "name": "inject UP for all up monitors",
        "func": "var idmap=msg.idmap||{};\nvar hb=(msg.payload&&msg.payload.heartbeatList)||{};\nvar out=[];\nfor(var id in hb){var b=hb[id];if(!b||!b.length)continue;var last=b[b.length-1];\n if(last.status===1&&idmap[id]){out.push({payload:{heartbeat:{status:1,msg:'maintenance-off reconcile'},monitor:{name:idmap[id]}}});}}\nvar ts=new Date().toLocaleString('en-IE',{timeZone:'Europe/Dublin',hour12:false});\nreturn [out,[{payload:ts+'  [maint-off-reconcile] injected '+out.length+' up-events\\n'}]];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 300,
        "wires": [
            [
                "iw-engine"
            ],
            [
                "iw-logfile"
            ]
        ]
    }
]